.THIS label{
    font-size:14px;
    font-family:connections;
    color: black;
    
    
}

.THIS {
   font-size:14px;
/*    background-color: white; */
    font-family:connections;
    color: black;
}

.THIS .slds-input {border-radius: 0px;border:1px solid #CCD3E1;margin-top:2px;
}

.THIS .slds-select{border-radius: 0px;border:1px solid #CCD3E1;margin-top:2px;
}

.THIS.headerStyle{
 
  /* padding-left:40px;*/
  padding-top: 5px;  
/*    padding-right:40px;*/
    
}

.THIS .buttonStyle{
    background-color:#E31837;
    color:white;
    font-size:16px;
    border: none;
    border-radius: inherit;
    height:36px;
    width:96px;
    
}

.THIS .buttonStyle:focus{
outline: 1px solid #012169;
/*outline: 1px solid #212121;     */
    
}


.THIS .modalbuttonStyle{
    background-color:#012169;
    color:white;
    font-size:16px;
    border: none;
    border-radius: inherit;
    height:36px;
    width:96px;
    border-radius: 0px;
    
}

/*.THIS .modalbuttonStyle:focus-visible{
outline: 1px solid blue;
    
}*/


.THIS .myCustomClass input { 
color: black;
}
.THIS .slds-card__footer{
        padding-bottom: 3rem;
}
.THIS .addSubjectsStyle {
    font-size: 13px;
    color: white;
    background-color:#012169;
    border: 1px solid #012169;
    border-radius: 0px;
    height: 35px;
    width: 130px;
        
}

.THIS .saveInquirerStyle {

font-size:14px;
border: none;
border-radius: inherit;
height:40px;
width:138px;
margin-left:20px;
margin-right:10px;
background-color: white;
 border: 1px solid #012169;
color: #012169;

        
}
.THIS .nopadding {
    padding:1px !important;
}