/* Base styling*/
 
/* Popover styling */
 
.THIS .popover__title {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.THIS .popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
.THIS .popover__content {
  opacity: 1;
   position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.THIS .popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.THIS .popover__wrapper:hover .THIS .popover__content {
  z-index: 10;
  opacity: 1;
   transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.THIS .popover__message {
  text-align: center;
}

/* Base styling*/
 
/* Popover styling */
 
.THIS .popover__title2 {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.THIS .popover__wrapper2 {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
.THIS .popover__content2 {
  opacity: 1;
   position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.THIS .popover__content2:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.THIS .popover__wrapper2:hover .THIS .popover__content2 {
  z-index: 10;
  opacity: 1;
   transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.THIS .popover__message2 {
  text-align: center;
}
/* Base styling*/
 
/* Popover styling */
 
.THIS .popover__title3 {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.THIS .popover__wrapper3 {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
.THIS .popover__content3 {
  opacity: 1;
   position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.THIS .popover__content3:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.THIS .popover__wrapper3:hover .THIS .popover__content3 {
  z-index: 10;
  opacity: 1;
   transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.THIS .popover__message3 {
  text-align: center;
}