.THIS button.slds-button.slds-button_icon.slds-pill__remove.slds-button_icon-bare:hover> .hideonClosepillhover{
display:none;
background: darkred;
border: 1px solid antiquewhite;
}
.THIS button.slds-button.slds-button_icon.slds-pill__remove.slds-button_icon-bare:hover ~ .THIS .hideonClosepillhover {
display:none;
background: darkred;
border: 1px solid antiquewhite;
}
.THIS {
font-family:connections;
color: black;
}
.THIS .textAreaConv{

}

.THIS .brandpill{
background-color: #012169;
border-color: #012169;
font:white;
border-radius: 0px;
margin-bottom: 2px;
margin-left:  2px;
}
.THIS .brandpill .slds-icon-utility-user  .slds-icon-text-default,.THIS .brandpill .slds-pill__remove .slds-button__icon{
fill:white;
height:10px;
margin-top:3px;
margin-bottom:3px;
}
.THIS .brandpill .slds-pill__remove svg{
fill: white !important;
}

.THIS .slds-button_neutral[disabled], .THIS .slds-button_neutral:disabled, .THIS .slds-button--neutral[disabled], .THIS .slds-button--neutral:disabled{
background-color: #ccd3e1;
color: white;
border: 1px solid #ccd3e1;

}



.THIS  .slds-button_destructive[disabled], .THIS  .slds-button_destructive:disabled, .THIS  .slds-button--destructive[disabled], .THIS .slds-button--destructive:disabled{
background-color: #ccd3e1;
color: white;
border: 1px solid #ccd3e1;

}

.THIS .slds-icon .slds-icon-text-default .slds-icon_small {height: 10px;}
.THIS .brandpill .slds-pill__action{
border: #012169;
color: white;

}
.THIS .slds-textarea {
height: 94px;
border-radius: 0px;
border:1px solid #CCD3E1;
margin-top: 5px;
}

.THIS .slds-input {
border-radius: 0px;
border:1px solid #CCD3E1;
margin-top: 2px;
}

.THIS .slds-combobox_container {
background-color: 1px solid rgba(204, 211, 225, 1);
}

.THIS label{
font-size:14px ;
font-family:connections;
color: black;
}


.THIS .saveButtonStyle{
font-size:14px;
border: none;
border-radius: inherit;
height:40px;
width:138px;
margin-left:20px;
margin-right:10px;
background-color: #E31837;
color: white;
}

.THIS .cancelButtonStyle{

font-size:14px;
border: 1px solid #012169;
border-radius: 0px;
height:40px;
width:138px;
color: #012169;
}

.THIS .styleCard{
border: 1px solid #CCD3E1;
background-color: #F5F5F5;
border-radius: 0px;
}


.THIS .slds-checkbox_faux
{
border-color: rgba(128, 144, 180, 1);
border-width: 1px;
border-style: solid;
box-sizing: border-box;
box-shadow: none;
width: 16px;
height: 16px;
border-radius: 0px;
}

.THIS .floatToRight{
float: right;
margin-top: 10px;
font-size:14px;
color:#000000;
}

.THIS .addSubjectStyle {
font-size: 14px;
color: #012169;
border: 1px solid #012169;
border-radius: 0px;
height: 35px;
width: 130px;

}

.THIS .viewTopicsStyle {
font-size: 14px;
color: #012169;
border: 1px solid #012169;
border-radius: 0px;
height: 35px;
width: 130px;
margin-top: 20px;
}

.THIS .addSubjectsStyle {
font-size: 13px;
color: white;
background-color:#012169;
border: 1px solid #012169;
border-radius: 0px;
height: 35px;
width: 130px;

}