.THIS {
    font-size: 15px;
    font-family:connections;
	padding-left: 50px; 
	}

h1.THIS
{
    color: brown;
    border: 1px solid gray;
    height: 20px;
    width: 350px;
    
}
.THIS.corpText {
    color: red;
    
}

.THIS .red
{
    color: red;
    padding: 20px;  
}

.THIS .blue
{
    color: blue;
    padding: 20px;  
}

.THIS .green
{
    color: green;
    padding: 20px;  
}