.THIS .popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block !important;
}
.THIS .popover__contenttest{
    position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
   
.THIS .popover__content {
  opacity: 0;
   position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.THIS .popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.THIS .popover__wrapper:hover .THIS .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible  !important;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.THIS .popover__message {
  text-align: center;
}
.THIS .popover__content:before,.THIS .popover__contenttest:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.THIS .popover__wrapper:hover .THIS .popover__content, .THIS .popover__contenttest {
  z-index: 10;
  opacity: 1;
  visibility: visible  !important;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}