<apex:page Controller="CFFCustomMatrixReport"  id="thePage" sidebar="false" showHeader="false" cache="false" >

<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=11,EDGE;"/>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
            <link rel="stylesheet" href="/resources/demos/style.css"/>
            <link rel="stylesheet" type="text/css" href="main-ie-fix.css" />
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<style type="text/css">

.tableHeader{
width:75%; 
margin-left:50px;
auto;margin-right:50px;
border-left:solid;
border-right:solid;
border-top:solid;
border-width:thin;
margin-top:50px;
}

.tableHeader2{
width:75%; 
margin-left:50px;
auto;margin-right:50px;
border-left:solid;
border-right:solid;
border-top:solid;
border-width:thin;
}

.tableBottom{
width:75%; 
margin-left:50px;
auto;margin-right:50px;
border-left:solid;
border-right:solid;
border-bottom:solid;
border-width:thin;
}


.Colum1{
width:10%;
border-left:solid;
border-right:solid;
border-width:thin;
background-color:#7E7E7E;
color:white;
font-weight:bold;
}
.colum2{
width:10%;
border-top:solid;
border-left:solid;
border-right:solid;
border-width:thin;
background-color:red;
color:white;
font-weight:bold;
}
.colum3{
width:10%;
border-left:solid;
border-right:solid;
border-width:thin;
background-color:#1569C7;
color:white;
font-weight:bold;
text-align:center;
}
.DataColumn{
width:10%;
border-left:solid;
border-right:solid;
border-width:thin;
text-align:center;

}


</style>




</head> 
<body>
<apex:form >

<table class="tableHeader"  cellspacing="0" cellpadding="0">
<tr>
<td class="colum3" height="40px" font-align="center"> CFF Results by LOB (excluding CEO Management Team) </td>
</tr>
</table>
 <!---apex:repeat value="{!listLOB}" var="vLob" --->
<table  class="tableHeader2" cellspacing="0" cellpadding="0">
        <tr style="font-family: Calibri; font-size:14px" >
        <td class="colum2"><apex:outputText value="{!byCFF}" /></td>
        <td class="colum3"># with Meets rating</td>
        <td class="colum3"># with Exemplar rating</td>
        <td class="colum3"># with Negative</td>
        <td class="colum3"># with N/A - no interaction</td>
         <td class="colum3">Sub Total</td>

    
        <td class="colum3">Need CFF</td>
         <td class="colum3">NA - Sit in CF</td>
      
         <td class="colum3">Total</td>
         </tr>
</table>
<apex:repeat value="{!listLOB}" var="vCf">
<apex:variable var="vExem" value="{!vCf}{!'Exemplar'}"   /> 
<apex:variable var="vMeets" value="{!vCf}{!'Meets'}"   /> 
<apex:variable var="vNegative" value="{!vCf}{!'Negative'}"   /> 
<apex:variable var="vNA" value="{!vCf}{!'Not Applicable'}"   /> 
<apex:variable var="vNoRating" value="{!vCf}{!'No Rating'}"   /> 
<apex:variable var="vSitsCF" value="{!vCf}{!'N/A-Sit in CF'}"   /> 
<apex:variable var="hTotal" value="{!vCf}"   />   
<table  class="tableHeader2" cellspacing="0" cellpadding="0">
        <tr style="font-family: Calibri; font-size:14px">
        <td class="DataColumn" style="text-align:left"><apex:outputText value="{!vCf}" /></td>
        <td class="DataColumn"><apex:outputText value="{!RatingFacts[vMeets]}" /></td>
        <td class="DataColumn"><apex:outputText value="{!RatingFacts[vExem]}" /></td>
        <td class="DataColumn"><apex:outputText value="{!RatingFacts[vNegative]}" /></td>
        <td class="DataColumn"><apex:outputText value="{!RatingFacts[vNA]}" /></td>
        <td class="DataColumn"><apex:outputText value="{!mSubTotal[hTotal]}" /></td>
        

        <td class="DataColumn"><apex:outputText value="{!RatingFacts[vNoRating]}" /></td>
       <td class="DataColumn"><apex:outputText value="{!RatingFacts[vSitsCF]}" /></td>

        <td class="DataColumn"><apex:outputText value="{!mTotalHor[hTotal]}" /></td>
         </tr>
</table>
</apex:repeat>
<!--/apex:repeat--->
<table  class="tableHeader2" cellspacing="0" cellpadding="0">
<tr style="font-family: Calibri; font-size:14px">
<td class="DataColumn" style="text-align:left">Total</td>
<td class="DataColumn"><apex:outputText value="{!mTotalVer['Meets']}" /></td>
<td class="DataColumn"><apex:outputText value="{!mTotalVer['Exemplar']}" /></td>
<td class="DataColumn"><apex:outputText value="{!mTotalVer['Negative']}" /></td>
<td class="DataColumn"><apex:outputText value="{!NATotal}" /></td>
<td class="DataColumn"><apex:outputText value="{!subAllTotal}" /></td>
<td class="DataColumn"><apex:outputText value="{!noRatingTotal}" /></td>
<td class="DataColumn"><apex:outputText value="{!mTotalVer['N/A-Sit in CF']}" /></td>
<td class="DataColumn"><apex:outputText value="{!TotalVal}" /></td>

</tr>
</table>

<table  class="tableBottom" cellspacing="0" cellpadding="0">
<tr><td></td></tr>
</table>

<apex:outputPanel >

<table style="width:75%; margin-left:50px;margin-right:50px;margin-top:60px" cellspacing="0" cellpadding="0">
<tr>
<td  >
<apex:outputPanel id="Buttons" style="float:right">

<apex:commandLink id="excelExport" action="{!openRepExcel}"  target="_blank" >
Export to Excel
</apex:commandLink>
</apex:outputPanel>

</td>

</tr>
</table>
</apex:outputPanel>

</apex:form>
</body>
</html>
</apex:page>