<apex:page controller="childToParent">
<apex:form >
<apex:pageBlock title="Contact with associated Accounts"  rendered="{!NOT(ISNULL(con))}" >
<apex:pageBlockTable value="{!con}" var="a">
<apex:column value="{!a.name}"/>
<apex:column value="{!a.account.name}"/>
<apex:column value="{!a.account.industry}"/>
</apex:pageBlockTable>
</apex:pageBlock>

<apex:pageBlock title="Student with associated Teacher"  rendered="{!NOT(ISNULL(stds))}">
<apex:pageBlockTable value="{!stds}" var="a">
<apex:column value="{!a.name}"/>
<apex:column value="{!a.Gender__c}"/>
<apex:column value="{!a.care_taker__r.Name}"/>
<apex:column value="{!a.care_taker__r.Course__c}"/>
</apex:pageBlockTable>
</apex:pageBlock>
<apex:commandButton value="click to Show Contacts" action="{!showConts}"/>
<apex:commandButton value="click to Show Students" action="{!showStdnt}"/>
</apex:form>
</apex:page>