<apex:page controller="DisplayAccountRecords">
 <apex:form >
 <apex:pageBlock title="Displaying Account Records">
 <apex:pageBlockTable value="{!acc}" var="a"> 
 <apex:column value="{!a.name}"/>
  <apex:column value="{!a.industry}"/>
  </apex:pageBlockTable>
  </apex:pageBlock>
 </apex:form>
</apex:page>