<apex:page standardStylesheets="false" standardController="Incentive_Rationale__c" extensions="IR_Controller" id="thePage" sidebar="false" showHeader="false" tabStyle="Incentive_Rationale__c">
    <html lang="en">
        
        <head>
            <meta http-equiv="X-UA-Compatible" content="IE=9;IE=EDGE;" />
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <apex:stylesheet value="{!$Resource.bootstrapminCSS}" />
            <apex:includeScript value="{!$Resource.jqueryBSDT}" />
            <apex:includeScript value="{!$Resource.jqueryDataTables}" />
            <apex:includeScript value="{!$Resource.bootstrapmin}" />
            <apex:includeScript value="{!$Resource.dataTables_fixedHeader_min}" />
            <apex:includeScript value="{!$Resource.data_table_fixed_header}" />
            <apex:includeScript value="{!$Resource.dfh}" />
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
            <apex:stylesheet value="{!$Resource.FixedHeaderjquery}" />
            <script type="text/javascript">
            var jq = jQuery.noConflict();
            var tableid = 'feedbackTable';
            var proirtableid = 'feedbackTable';
            var datatableCnt;
            var tableCnt;
            var oSettingsOrig;
            var oSettings;
            var srchTxt = '';
            var dispLen = '';
            var srtClum = '';
            var rowToUpdate;
            var recId;
            var activeTab = '{!defaultTab}';
            var table;
            var popupStatus = false;
            var dependentVal = [];
            var controlFunction;
            var accId;
            var lineOfBiz;
            var cffStatus;
            var cfDropdown;
            var lobDropdown;
            var isRenderingComplete = false;
            var table;
            
            function applyDataTable() {
                jq('div[id="loadingTabs"]').hide();
                var searchCustomer = tableid;
                //if(tableid!==proirtableid)
                console.log(jq('div#trackHeader').siblings());
                //                                 jq("[id$='" + proirtableid + "']").fixedHeaderTable('destroy');
                table = jq("[id$='" + searchCustomer + "']").DataTable({
                    "bJQueryUI": true,
                    "bInfo": true,
                    "bFilter": true,
                    "paging": false,
                    "bRetrieve": true,
                    fixedHeader: true,
                    "bAutoWidth": false,
                    "order": [1, 'asc']
                });
                // alert('proirtableid'+proirtableid);
                console.log('flex');
                /*console.log(jq(("[class=list applyTableHeadColor table table-bordered table-hover dataTable no-footer fixedHeader-floating]")));
            if((proirtableid!==tableid)){
            alert('test'+  jq(("[class=list applyTableHeadColor table table-bordered table-hover dataTable no-footer fixedHeader-floating]")));
            jq(("[class=list applyTableHeadColor table table-bordered table-hover dataTable no-footer fixedHeader-floating]"))[0].remove();
            }*/
                jq('.table tr td').css("background-color", "white");
                jq('.table thead tr').css({
                    "background-color": "#b1afaf"
                });
            }
            
            function setValues() {
                jq('#filter').modal('hide');
                jq(".modal-backdrop").hide();
                // jq('div[id="loadingTabs"]').css('display','none');
                jq('div[id="loadingTabs"]').hide();
                hideStatus();
                cfDropdown = jq('select[name="thePage:frm1:CFAdminAuditType"]').val();
                lobDropdown = jq('select[name="thePage:frm1:LOBAdminLOB"]').val();
                if((activeTab == '3' || activeTab == '31') && cfDropdown != '0' && cfDropdown != null) {
                    jq('#cFLOBDisplayMessage').html('<strong> You are now viewing Control Function <span class="badge"> ' + cfDropdown + '</span></strong>');
                    jq('#cFLOBDisplayMessage').show();
                    jq('#cFLOBDisplayMessage').css('visibility', 'visible');
                    jq('#cFLOBDisplayMessage').css('display', 'inline-block');
                }
                if((activeTab == '4' || activeTab == '41') && lobDropdown != '0' && lobDropdown != null) {
                    jq('#cFLOBDisplayMessage').html('<strong> You are now viewing Line of business <span class="badge"> ' + lobDropdown + '</span></strong>');
                    jq('#cFLOBDisplayMessage').show();
                    jq('#cFLOBDisplayMessage').css('visibility', 'visible');
                    jq('#cFLOBDisplayMessage').css('display', 'inline-block');
                }
            }
            
            function disableFilterButton() {
                jq('.applyFilters').prop('disabled', true);
                jq('.controllingLOB').prop('disabled', true);
                jq('.dependentSLOB').prop('disabled', true);
            }
            
            function enableFilterButton() {
                jq('.applyFilters').prop('disabled', false);
                jq('.controllingLOB').prop('disabled', false);
                jq('.dependentSLOB').prop('disabled', false);
            }
            
            function navigateToReports() {
                gotoReports();
            }
            
            function closeFilter() {
                jq('#filter').modal('hide');
                jq(".modal-backdrop").hide();
            }
            
            function tabClick(tabNo) {
                proirtableid = tableid;
                tableid = 'feedbackTable' + tabNo;
                //alert(tabNo);       
                activeTab = tabNo;
                jq('#cFLOBDisplayMessage').hide();
                jq('div[id="loadingTabs"]').show();
                restoringDefaultsForTabs(activeTab);
            }
            
            function hidePopUp() {
                jq('#myModal').modal('hide');
                //jq('body').css('overflow','auto');                         
            }
            
            function closePopUpLOBAdmin() {
                jq('#myModal').modal('hide');
                jq('body').css('overflow', 'auto');
                jq('#filter').modal('hide');
                jq(".modal-backdrop").hide();
            }
            
            function GotoCFF()
            {
                window.top.location.href= '/apex/CFF';
            }
            
            function GotoImmigration()
            {
                window.top.location.href= '/apex/ImmigrationFormPopUp';
            }
            
            function GotoRelocation()
            {
                window.top.location.href= '/apex/RelocationCaseListPage';
            }
            
            function onPopUpCloseConfigurations(component, isSavebutton) {
                isValidatedinputvar = 'isValidatedinput';
                var ispopclose = 'false';
                if(jq("[id$='" + isValidatedinputvar + "']").val() == 'true') ispopclose = 'true';
                if(isSavebutton == false) ispopclose = 'true';
                if(ispopclose == 'true') {
                    jq(component).prop('value', 'Processing...').delay(10000).queue(function() {
                        jq(component).button('reset');
                        jq(component).dequeue();
                    });
                    popupStatus = false;
                    if(activeTab == '4' || activeTab == '41') {
                        configureOnClose();
                    } else {
                        jq('#myModal').modal('hide');
                        jq('body').css('overflow', 'auto');
                        jq('#filter').modal('hide');
                        jq(".modal-backdrop").hide();
                    }
                }
                jq('body').css('overflow', 'auto');
            }
            
            function afterRenderingDependentPicklist() {
                //alert('after the dependent picklist is rendered.');
            }
            
            function displayCommentary() {
                showCommentary();
            }
            
            function charLimit(Num) {
                var limitField;
                var limitNum;
                limitNum = Number(Num);
                var charactersRemaining;
                limitField = jq('textarea[name="thePage:frm1:pgblock5:irl"]');
                charactersRemaining = Number(limitNum) - Number(limitField.val().length);
                if(charactersRemaining <= 10) {
                    jq('div[id="limitChar"]').css({
                        "color": "red",
                        "margin-bottom": "5px",
                        "font-size": "11px"
                    });
                    jq('div[id="limitChar"]').show();
                    jq('div[id="limitChar"]').html("You have <strong>" + charactersRemaining + "</strong> characters remaining");
                } else {
                    jq('div[id="limitChar"]').hide();
                }
                if(limitField.val().length > limitNum) {
                    limitField.val(limitField.val().substr(0, limitNum));
                }
            }
            
            function charLimitALL(Num, currentId, errorID) {
                var limitField;
                var limitNum;
                limitNum = Number(Num);
                var charactersRemaining;
                //limitField = jq('textarea[name="thePage:frm1:pgblock5:irl"]');
                limitField = jq("[id$='" + currentId + "']");
                charactersRemaining = Number(limitNum) - Number(limitField.val().length);
                if(charactersRemaining <= 10) {
                    jq("[id$='" + errorID + "']").css({
                        "color": "red",
                        "margin-bottom": "5px",
                        "font-size": "11px"
                    });
                    jq("[id$='" + errorID + "']").show();
                    jq("[id$='" + errorID + "']").html("You have <strong>" + charactersRemaining + "</strong> characters remaining");
                } else {
                    jq("[id$='" + errorID + "']").hide();
                }
                if(limitField.val().length > limitNum) {
                    limitField.val(limitField.val().substr(0, limitNum));
                }
            }
            
            function refreshAndOpenPopUp(component) {
                rowToUpdate = jq(component).closest('tr');
                rerenderAndOpenPopUpModal();
            }
            
            function renderDependentPicklist() {
                rerenderSLOB();
            }
            
            function showAlert() {
                jq('#timeOutAlert').modal('hide');
                jq(".modal-backdrop").hide();
                jq('#timeOutAlert').modal('show');
            }
            
            function selectTheRecordId(recordId) {
                popupStatus = true;
                recId = recordId;
                if('{!$Profile.Name}' == 'LOB_Admin_force_com' || activeTab == '4' || activeTab == '41') {
                    jq(".cffFilterModalBody").css("height", "200px !important");
                    // jq(".cffFilterModalBody").attr('style','height:280px !important');
                }
            }
            
            function openFilterScreen() {
                setTimeout(function() {
                    jq('#filter').modal('show');
                }, 500);
            }
            
            function showFilterMessage() {
                jq('#applyFilters').html('<b>Applying Filters.Please wait...</b>');
                jq('#applyFilters').show();
            }
            
            function hideStatus() {
                jq('#applyFilters').hide();
                jq('#CFAdminDropdown').hide();
                jq('#LOBAdminDropdown').show();
                //jq('#loadingTabs').css('display','none');
            }
            
            function showStatus() {
                cfDropdown = jq('select[name="thePage:frm1:CFAdminAuditType"]').val();
                lobDropdown = jq('select[name="thePage:frm1:LOBAdminLOB"]').val();
                //alert('CF dropdown-->'+cfDropdown);
                // alert('lob dropdown-->'+lobDropdown);
                if(cfDropdown == '0') {
                    jq('#CFAdminDropdown').html('<b>Select a Control Function from the drop down menu and click View</b>');
                    jq('#CFAdminDropdown').show();
                }
                if(lobDropdown == '0') {
                    jq('#LOBAdminDropdown').html('<b>Select a Line of business from the drop down menu and click View</b>');
                    jq('#LOBAdminDropdown').show();
                }
                if((activeTab == '3' || activeTab == '31') && cfDropdown != '0') {
                    jq('#CFAdminDropdown').html('<b>Your request is currently processing.</b>');
                    jq('#CFAdminDropdown').show();
                    jq('div[id="loadingTabs"]').hide();
                    normalRerender(activeTab);
                }
                if((activeTab == '4' || activeTab == '41') && lobDropdown != '0') {
                    jq('#LOBAdminDropdown').html('<b>Your request is currently processing.</b>');
                    jq('#LOBAdminDropdown').show();
                    normalRerender(activeTab);
                }
            }
            
            function closeFilterPopUpAndRerender() {
                //alert('When pop up closed'+activeTab);
                normalRerender(activeTab);
            }
            
            function captureDependentValue() {
                //alert('dependent slobs while capturing'+jq('.dependentSLOB').val());
                dependentVal = jq('.dependentSLOB').val();
            }
            
            function applyFilters() {
                //alert('dependentVal --->'+dependentVal);
                if(dependentVal != null) {
                    applyingFilters(dependentVal.toString());
                } else {
                    applyingFilters(dependentVal);
                }
            }
            
            function tesstScroll() {
                console.clear();
                alert('completed');
                console.log('completed');
            }
            
            function dofill(fullID, currentId, fieldtoberendered) {
                //alert(currentId);
                //                        alert(jq("[id$='" +  currentId+ "']").val());
                //alert(jq("[id$='" +  currentId+ "']").val());
                //jq("[id$='thePage:frm1:pgblock5:popblock:rationaleFull']").val(jq("[id$='" +  currentId+ "']").val());
                jq("[id$='" + fullID + "']").val(jq("[id$='" + currentId + "']").val());
                //alert(jq("[id$='thePage:frm1:pgblock5:rationaleinput']").val());
                //alert(jq('textarea[name='" +  currentId+ "']').val());
                //jq('textarea[name="thePage:frm1:pgblock5:popblock:irlfull"]').val(jq('textarea[name="thePage:frm1:pgblock5:irl"]').val());
                //jq('textarea[name='" +  fullID+ "']').val(jq('textarea[name='" +  currentId+ "']').val());
                jq('body').css('overflow', 'hidden');
            }
            
            function openinputModal() {
                jq('body').css('overflow', 'hidden');
                jq('#myModalinput').modal('show');
                //jq('textarea[name="thePage:frm1:pgblock5:irl"]').val() 
                jq('#myModal').modal('hide');
                //jq("#irlfull").val({!feedbackDtl.Rationale__c});    
            }
            
            function hideinputModal() {
                jq('body').css('overflow', 'hidden');
                jq('#myModalinput').modal('hide');
                jq('#myModal').modal('show');
            }
            
            function openModal() {
                setTimeout(function() {
                    jq('#myAlert').hide();
                    if(activeTab == '1' || activeTab == '2' || activeTab == '3' || activeTab == '4') {
                        jq('#myModal').modal('show');
                        // jq('body').css('overflow','hidden');                                    
                    }
                }, 500);
                //charLimit('2500');         
                jq('.table tr td').css({
                    "background-color": "white"
                });
            }
            
            function charLimitERROR(idval) {
                var text = jq("[id$='" + idval + "']").val();
                var errorid = 'limitChar';
                if(text.length > 3000) {
                    jq("[id$='" + errorid + "']").show();
                    jq("[id$='" + idval + "']").val(text.substr(0, 2999));
                    return false;
                } else {
                    jq("[id$='" + errorid + "']").hide();
                    return true;
                }
            }
       function runSpinner(){
       jq("[id$='el_loading']").show();
       
       }
             function hideSpinner(){
       //jq("[id$='el_loading']").hide();
       
       }
            jq(document).on('scroll', '', function() {
                console.clear();
                console.log('fixedHeader-floating');
                console.log(jq('.fixedHeader-floating').length);
                console.log(jq('.fixedHeader-floating'));
                if(tableid !== proirtableid) {
                    if((tableid.includes("feedbackTable2"))) jq('table[aria-describedby="thePage:frm1:pgblock1:feedbackTable1_info"]').remove();
                    else jq('table[aria-describedby="thePage:frm1:pgblock2:feedbackTable2_info"]').remove();
                }
                console.log('after more fixedHeader-floating');
                console.log(jq('.fixedHeader-floating').length);
                console.log(jq('.fixedHeader-floating'));
                if(jq('.fixedHeader-floating').length > 1) {
                    for(var i = 0; i < ((jq('.fixedHeader-floating').length) - 1); i++) {
                        jq('.fixedHeader-floating')[i].remove();
                    }
                }
                if(jq('.fixedHeader-floating') != null) {
                    jq('.fixedHeader-floating').css('width', '1510px');
                }
                console.log('afte 0 thfixedHeader-floating');
                console.log(jq('.fixedHeader-floating').length);
                console.log(jq('.fixedHeader-floating'));
            });
            jq(document).ready(function() {
                tableid = '{!idTable}';
                proirtableid = tableid;
                applyDataTable();
                jq('#cFLOBDisplayMessage').hide();
                jq('div[id="loadingTabs"]').css('display', 'none');
                jq('div[id="loadingTabs"]').hide();
                var availableTags = ["ActionScript", "AppleScript", "Asp"];
                /* recheck jq( "#tags" ).autocomplete({
                    
                                 source: availableTags
                    
                            });*/
        });
        </script>
        <style type="text/css">
            .applyTableHeadColor thead {
            background-color: #b1afaf;
            }
            
            div.dataTables_scroll {
            clear: both;
            }
            
            .paddingRL {
            padding-right: 10px;
            padding-left: 10px;
            }
            
            .dataTables_filter {
            padding-top: 5px;
            padding-right: 5px;
            }
            
            .cffModalFilter {
            width: 60%;
            margin: 30px auto;
            }
            
            .cffModal {
            overflow-y: initial !important;
            padding-right: 0px !important;
            width: 60%;
            margin: 30px auto;
            }
            
            @media (min-height: 200px) {
            .modal-body {
            max-height: 500px;
            }
            }
            
            .modal-body {
            padding-right: 0px !important;
            overflow-y: scroll;
            }
            
            DIV.dataTables_info {
            padding-top: 0px;
            padding-bottom: 5px;
            padding-left: 5px;
            }
            
            fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
            }
            
            legend.scheduler-border {
            width: inherit;
            /* Or auto */
            padding: 0 10px;
            /* To give a bit of padding on the left and right */
            border-bottom: none;
            }
            
            .cffFilterModalBody {
            height: 180px;
            }
        </style>
        <style>
            .bg {
            background-color: #DEE3DF;
            }
            
            .activeTab {
            background-color: white;
            color: black;
            background-image: none;
            border-style: solid;
            font-size: 11px;
            border-width: 1px;
            width: 110px;
            height: 24px;
            text-align: center;
            border-color: lightgrey;
            font-family: Arial, Verdana, sans-serif;
            }
            
            .inactiveTab {
            background-color: lightgrey;
            font-size: 11px;
            color: black;
            background-image: none;
            border-style: solid;
            padding: 2px 10px 2px 10px;
            font-family: Arial, Verdana, sans-serif;
            width: 110px;
            height: 24px;
            text-align: center;
            border-width: 1px;
            border-color: lightgrey
            }
            
            .labelCol {
            font-style: normal;
            font-weight: italic;
            font-size: 1.10em;
            vertical-align: middle!important;
            font-style: normal;
            font-family: 'Arial,Verdana,sans-serif';
            }
            
            body .bodyDiv .bFilterView select,
            .listViewportWrapper .listViewport .topNav .title {
            font-size: 0.9em;
            font-style: normal;
            font-weight: normal
            }
            
            .tabContent {
            background: #fff;
            }
            
            body .rich-tabpanel-content {
            border: 1px solid #D4DADC;
            border-top: 3px solid #3090C7;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            background-color: #F8F8F8;
            padding: 6px;
            }
            
            body td[id$="Tab_lbl"] {
            padding: 8px;
            background-color: #f8f8f8;
            border: 1px solid #eaeaea;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            }
            
            .tabNavigation {
            background: url("/img/alohaSkin/tabbar_sprite.png") repeat-x scroll left -73px transparent;
            margin: 0 5px;
            padding: 3px 0 0;
            position: relative;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 0 px;
            border-bottom-right-radius: 0 px;
            }
            
            .theTabPanel {
            background: url("/img/alohaSkin/tabbar_sprite.png") repeat-x scroll left -73px transparent;
            margin-top: 0.05em !important;
            padding-top: 0px;
            border-top-left-radius: 8px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 0 px;
            border-bottom-right-radius: 0 px;
            }
            
            .theTabPanel img {
            margin: 0px;
            }
            
            .rich-tabhdr-side-cell {
            border-top-style: solid;
            border-top-width: 0px;
            }
            
            .rich-tabhdr-side-border {
            background-image: url("/img/alohaSkin/tabbar_sprite.png");
            background-position: center top;
            background-repeat: no-repeat;
            }
            
            footer {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;
            font-size: 25px
            }
            
            body .rich-tabpanel-content {
            padding: 0px;
            }
            
            body {
            line-height: 1;
            }
            
            body .rich-tabpanel-content {
            border-top: 1px solid #D4DADC;
            }
            
            input {
            line-height: 1.3
            }
            
            .rich-tabpanel-content {
            font-size: 13px;
            }
            
            .modal-body {
            padding-bottom: 5px;
            }
            
            div.FixedHeader_Cloned th,
            div.FixedHeader_Cloned td {
            background-color: white !important;
            }
            
            .requiredBlock{
            bottom: 1px !important;
            color: red !important;
            font-size: 25px !important; <!-- Change font-size for increase/decrease star size -->
            left: -10px !important;
            position: absolute !important;
            }
        </style>
        </head>
        
        <body>
            <div id="trackHeader">
            
                    
                <apex:form id="frm" styleClass="paddingRL">
                
                    <div class="container-fluid">
                     
                        <apex:actionFunction name="renderedpopupField" oncomplete="openinputModal(); return false;" action="{!showpopup}" reRender="irlfull,rationaleFull,perfComFull,popblock">
                            <apex:param name="FieldtobeRenderedinPopup" value="" assignTo="{!FieldtobeRenderedinPopup}" /> </apex:actionFunction>
                        <apex:actionFunction name="configureOnClose" action="{!WhenPopUpClosed}" rerender="commentaryAndRatingForLOBAdminHistoryTab,commentaryAndRatingForLOBAdminHistoryPopUp" oncomplete="closePopUpLOBAdmin();" />
                        <apex:actionFunction name="applyingFilters" action="{!applyFilters}" oncomplete="closeFilterPopUpAndRerender();">
                            <apex:param name="slob" value="" assignTo="{!selectedSLOBSInTheFilter}" /></apex:actionFunction>
                        <apex:actionFunction name="restoringDefaultsForTabs" action="{!restoreDefaults}" rerender="CFFStatus,CFFInstructionsForCFLOBAdminHistory,CFFInstructionsForProvider,CFFInstructionsForManager,CFFInstructionsForManagerProviderHistory,CFAdmin,LOBAdmin,pgblock1,pgblock2,pgblock3,pgblock4,applyFilter,filterText,defaultView" oncomplete="applyDataTable();setValues();">
                            <apex:param name="tabName" value="" assignTo="{!selectedTab}" />
                            <apex:param name="tabclicked" value="true" assignTo="{!tabClicked}" /></apex:actionFunction>
                        <apex:actionFunction name="normalRerender" action="{!restoreDefaults}" rerender="CFFInstructionsForProvider,CFFInstructionsForManager,LOBAdmin,pgblock1,pgblock2,pgblock3,pgblock4,applyFilter,filterText,defaultView" oncomplete="applyDataTable();" onbeforedomupdate="setValues();">
                            <apex:param name="tabName" value="" assignTo="{!selectedTab}" /></apex:actionFunction>
                        <apex:actionFunction name="rerenderSLOB" action="{!dummy}" rerender="dependentPicklist" />
                        <apex:actionFunction name="rerenderAndOpenPopUpModal"  rerender="pgblock5,pgblockHistory" oncomplete="openModal();runSpinner();refreshmodal();" />
                         <apex:actionFunction name="refreshmodal" action="{!emplInfo}"  rerender="body" oncomplete="hideSpinner();" />
                        <apex:actionFunction name="gotoReports" action="{!takeMeToReports}" />
                        <table width="100%">
                            <tr>
                                <td style="background-color:#DC1431">
                                    <h3 class="paddingRL" style="color:white">Incentive Rationale (IR)</h3> </td>
                            </tr>
                            <tr>
                                <td>
                                    <apex:outputPanel id="CFFInstructionsForProvider">
                                        <apex:outputPanel rendered="{!If(profileIndicator['SuperUser'], true,false)}">
                                            <h6><b><span style="color:#000000"><b>Action: </b></span><apex:outputText value="The following individuals listed require rationale on compensation decisions"/></b></h6>
                                            <h6 style="margin-left: 15px;"><b>1. Select the standard sentence that would apply to employee's YOY pay decisioning (Total Incentive, Total Comp or n/a).</b></h6>
                                            <h6 style="margin-left: 15px;"><b>2. Provide further explanation in the Commentary box on why the employee was paid as such. </b></h6>
                                            <br></br>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            <apex:outputPanel id="CFFInstructionsForManager">
                                <apex:outputPanel rendered="{!If(OR(profileIndicator['Reviewer'],profileIndicator['provider']), true,false)}">
                                    <h6><b><span style="color:#000000"></span><apex:outputText value="Action:"/></b></h6>
                                    <h6 style="margin-left: 15px;"><b>1. Select the Name of the Employee to review/edit the provided feedback.</b></h6>
                                    <h6 style="margin-left: 15px;"><b>2. Provide further explanation in the Commentary box on why the employee was paid as such. </b></h6>
                                    <br></br>
                            </apex:outputPanel>
                        </apex:outputPanel>
                        <apex:outputPanel id="LOBAdmin">
                            <apex:outputPanel rendered="{!If(profileIndicator['configLOBAdmin']==true || profileIndicator['configLOBAdminHistory'] == true, true,false)}">
                                <apex:outputPanel rendered="{!If(profileIndicator['configLOBAdmin']==true && profileIndicator['configLOBAdminHistory'] == false, true,false)}">
                                    <h6><b><span style="color:#000000"></span><apex:outputText value="Administrator:"/></b></h6>
                                    <h6 style="margin-left: 15px;"><b>1. Select the LOB  from the drop down below and click View.</b></h6>
                                    <h6 style="margin-left: 15px;"><b>2. Select the Name of the Employee to review the rationale.</b></h6> </apex:outputPanel>
                                <br></br>
                            <h6><b>Line of business:</b></h6>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <apex:selectList id="LOBAdminLOB" styleClass="form-control" style="font-size:10pt;width:100pt" size="0" value="{!LOBAdmin}">
                                                <apex:selectOptions value="{!LOBAdminOptions}" /></apex:selectList>
                                        </div>
                                    </td>
                                    <td valign="top">
                                        <apex:commandButton value="View" styleClass="btn btn-default" style="font-size:10pt;width:60pt" onclick="showStatus();return false;" /> </td>
                                    <td width="80%">
                                        <div id="LOBAdminDropdown"></div>
                                    </td>
                                </tr>
                            </table>
                        </apex:outputPanel>
                    </apex:outputPanel>
                    <!--/div>
</apex:form>
<apex:form id="frm1" styleClass="paddingRL">
<div class="container-fluid"-->
                    <apex:pageBlock id="pgMessages">
                        <apex:pageMessages ></apex:pageMessages>
                    </apex:pageBlock>
                    <table width="100%">
                        <tr>
                            <td width="40%">
                                <div class="alert alert-info" style="visibility: hidden;" id="cFLOBDisplayMessage"></div>
                            </td>
                            <td align="Center">
                                <apex:pageBlock id="filters">
                                    <apex:actionStatus id="status1" startText="Opening Filters">
                                        <apex:facet name="start">
                                            <apex:outputPanel style="margin-right: 70%;">Opening Filters...</apex:outputPanel>
                                        </apex:facet>
                                        <apex:facet name="stop">
                                            <apex:outputPanel >
                                                <br/>
                                                <apex:commandButton id="openFilters" styleClass="btn btn-info btn-sm" action="{!openFilters}" rerender="applyFilter" status="status1" oncomplete="openFilterScreen();" value="Filter screen" style="margin-right: 70%;" /></apex:outputPanel>
                                        </apex:facet>
                                    </apex:actionStatus>
                                </apex:pageBlock>
                            </td>
                  
               
                            
                            </tr>
                            
                            
                          
                    </table>
                    <apex:outputPanel id="defaultView">
                        <apex:outputPanel rendered="{!filtersApplied}"> <b><p  style="width:100%;font-size: 13px;"> Click <apex:commandLink action="{!applyDefaultView}" oncomplete="closeFilterPopUpAndRerender();return false;" value=" here"/> to remove filters and go back to the default view.</p></b> </apex:outputPanel>
                    </apex:outputPanel>
                    <apex:tabPanel switchType="client" selectedTab="1" id="tabpanelUI" tabClass="activeTab" inactiveTabClass="inactiveTab">
                        <apex:tab label="My View" ontabenter="tabClick('1');" name="1" styleClass="nav nav-tabs" rendered="{!profileIndicator['provider']}">
                            <apex:pageBlock id="pgblock1">
                                <div id="loadingTabs" style="display:none">
                                    <table>
                                        <tr>
                                            <td>
                                                <h6>The tab is loading.Please wait...</h6> </td>
                                            <td>
                                                <apex:image id="theImage" value="{!$Resource.loadingImage}" /> </td>
                                        </tr>
                                    </table>
                                </div>
                                <apex:outputPanel id="filterText">
                                    <apex:outputPanel rendered="{!filtersApplied}"> <b><p style="width:100%;font-size: 13px;">Now reviewing: LOB-<span style="color:red"> {!selectedLOBs}</span> and Sub-LOB-<span style="color:red"> {!camelCasing }</span>. </p></b> </apex:outputPanel>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!profileIndicator['Provider']}">
                                    <apex:pageblockTable id="feedbackTable1" styleclass="applyTableHeadColor table table-bordered table-hover" value="{!DataGrid}" var="feedback" style="font-size:11px">
                                        <apex:column headerValue="Person Number">
                                            <apex:outputText value="{!feedback.Employee_Person_Number__c}" /></apex:column>
                                        <apex:column headerValue="Name">
                                            <apex:actionStatus id="status">
                                                <apex:facet name="start">
                                                    <apex:outputPanel >Retrieving...</apex:outputPanel>
                                                </apex:facet>
                                                <apex:facet name="stop">
                                                    <apex:outputPanel >
                                                        <apex:commandLink onclick="selectTheRecordId('{!feedback.id}')" action="{!emplInfo}" oncomplete="refreshAndOpenPopUp(this);" status="status">
                                                            <apex:outputText value="{!feedback.LNFN__c}" />
                                                            <apex:param name="recordId" value="{!feedback.id}" assignTo="{!recordId}" /></apex:commandLink>
                                                    </apex:outputPanel>
                                                </apex:facet>
                                            </apex:actionStatus>
                                        </apex:column>
                                        <apex:column headerValue="LOB">
                                            <apex:outputText value="{!feedback.LOB__c}" /></apex:column>
                                        <apex:column headerValue="SUB-LOB">
                                            <apex:outputText value="{!feedback.SUB_LOB__c}" /></apex:column>
                                        <apex:column headerValue="CEE Category">
                                            <apex:outputText value="{!feedback.Category__c}" /></apex:column>
                                        <apex:column headerValue="Conduct Outcome">
                                            <apex:outputText value="{!feedback.Conduct__c}" /></apex:column>
                                        <apex:column headerValue="CEE Incentive Rationale Req">
                                            <apex:outputText value="{!feedback.Rationale_Req__c}" /></apex:column>
                                        <apex:column headerValue="Conduct Outcome Impact">
                                            <apex:outputText value="{!feedback.Rationale_Reason__c}" /></apex:column>
                                        <apex:column headerValue="Results Rating">
                                            <center>
                                                <apex:outputText value="{!feedback.Results_Rating__c}" />
                                            </center>
                                        </apex:column>
                                        <apex:column headerValue="Behavior Rating">
                                            <center>
                                                <apex:outputText value="{!feedback.Behavior_Rating__c}" />
                                            </center>
                                        </apex:column>
                                        <apex:column headerValue="'18vs'17 Incentives YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.YOY_Incentives__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="'18vs'17 TComp YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.YOY_TComp__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="Pool Funding/SS YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.Pool_Funding__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="Comp Approach">
                                            <apex:outputText value="{!feedback.Comp_Approach__c}" /></apex:column>
                                        <apex:column headerValue="1st Sentence">
                                            <apex:outputText value="{!feedback.Standard_Sentence__c}" /></apex:column>
                                        <apex:column headerValue="Pay Rationale">
                                            <apex:outputText value="{!LEFT(feedback.Rationale__c,300)}" /></apex:column>
                                        <apex:column headerValue="Combined">
                                            <apex:outputText value="{!LEFT(feedback.Standard_Sentence__c + '  ' + feedback.Rationale__c, 300)}" /></apex:column>
                                        <apex:column headerValue=" Rating Rationale">
                                            <apex:outputText value="{!LEFT(feedback.Rating_Rationale__c, 300)}" /></apex:column>
                                        <apex:column headerValue="Performance Commentary">
                                            <apex:outputText value="{!LEFT (feedback.Performance_Commentary__c, 300)}" /></apex:column>
                                    </apex:pageblockTable>
                                </apex:outputPanel>
                            </apex:pageBlock>
                        </apex:tab>
                        <apex:tab label="My Team's View" ontabenter="tabClick('2');" name="2" styleClass="nav nav-tabs" rendered="{!If(profileIndicator['Reviewer']==true, true,false)}">
                            <apex:pageBlock id="pgblock2">
                                <div id="loadingTabs" style="display:none">
                                    <table>
                                        <tr>
                                            <td>
                                                <h6>The tab is loading.Please wait...</h6> </td>
                                            <td>
                                                <apex:image id="theImage" value="{!$Resource.loadingImage}" /> </td>
                                        </tr>
                                    </table>
                                </div>
                                <apex:outputPanel id="filterText">
                                    <apex:outputPanel rendered="{!filtersApplied}"> <b><p  style="width:100%;font-size: 13px;">Now reviewing: LOB-<span style="color:red"> {!selectedLOBs}</span> and  Sub-LOB-<span style="color:red"> {!camelCasing }</span>. </p></b> </apex:outputPanel>
                                </apex:outputPanel>
                                <apex:outputPanel >
                                    <apex:pageblockTable id="feedbackTable2" styleclass="applyTableHeadColor  table table-bordered table-hover" value="{!DirectReportsForManager}" var="feedback" style="font-size:11px">
                                        <apex:column headerValue="Person Number">
                                            <apex:outputText value="{!feedback.Employee_Person_Number__c}" /></apex:column>
                                        <apex:column headerValue="Name">
                                            <apex:actionStatus id="status">
                                                <apex:facet name="start">
                                                    <apex:outputPanel >Retrieving...</apex:outputPanel>
                                                </apex:facet>
                                                <apex:facet name="stop">
                                                    <apex:outputPanel >
                                                        <apex:commandLink onclick="selectTheRecordId('{!feedback.id}')" action="{!emplInfo}" oncomplete="refreshAndOpenPopUp(this);" status="status">
                                                            <apex:outputText value="{!feedback.LNFN__c}" />
                                                            <apex:param name="recordId" value="{!feedback.id}" assignTo="{!recordId}" /></apex:commandLink>
                                                    </apex:outputPanel>
                                                </apex:facet>
                                            </apex:actionStatus>
                                        </apex:column>
                                        <apex:column headerValue="LOB">
                                            <apex:outputText value="{!feedback.LOB__c}" /></apex:column>
                                        <apex:column headerValue="SUB-LOB">
                                            <apex:outputText value="{!feedback.SUB_LOB__c}" /></apex:column>
                                        <apex:column headerValue="CEE Category">
                                            <apex:outputText value="{!feedback.Category__c}" /></apex:column>
                                        <apex:column headerValue="Conduct Outcome">
                                            <apex:outputText value="{!feedback.Conduct__c}" /></apex:column>
                                        <apex:column headerValue="CEE Incentive Rationale Req">
                                            <apex:outputText value="{!feedback.Rationale_Req__c}" /></apex:column>
                                        <apex:column headerValue="Conduct Outcome Impact">
                                            <apex:outputText value="{!feedback.Rationale_Reason__c}" /></apex:column>
                                        <apex:column headerValue="Results Rating">
                                            <center>
                                                <apex:outputText value="{!feedback.Results_Rating__c}" />
                                            </center>
                                        </apex:column>
                                        <apex:column headerValue="Behavior Rating">
                                            <center>
                                                <apex:outputText value="{!feedback.Behavior_Rating__c}" />
                                            </center>
                                        </apex:column>
                                        <apex:column headerValue="'18vs'17 Incentives YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.YOY_Incentives__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="'18vs'17 TComp YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.YOY_TComp__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="Pool Funding/SS YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.Pool_Funding__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="Comp Approach">
                                            <apex:outputText value="{!feedback.Comp_Approach__c}" /></apex:column>
                                        <apex:column headerValue="1st Sentence">
                                            <apex:outputText value="{!feedback.Standard_Sentence__c}" /></apex:column>
                                        <apex:column headerValue="Pay Rationale">
                                            <apex:outputText value="{!LEFT(feedback.Rationale__c,300)}" /></apex:column>
                                        <apex:column headerValue="Combined">
                                            <apex:outputText value="{!LEFT(feedback.Standard_Sentence__c + '  ' + feedback.Rationale__c, 300)}" /></apex:column>
                                        <apex:column headerValue=" Rating Rationale">
                                            <apex:outputText value="{!LEFT(feedback.Rating_Rationale__c, 300)}" /></apex:column>
                                        <apex:column headerValue="Performance Commentary">
                                            <apex:outputText value="{!LEFT (feedback.Performance_Commentary__c, 300)}" /></apex:column>
                                    </apex:pageblockTable>
                                </apex:outputPanel>
                            </apex:pageBlock>
                        </apex:tab>
                        <apex:tab label="IR View" ontabenter="tabClick('3');" name="3" styleClass="nav nav-tabs" rendered="{!If(profileIndicator['SuperUser']==true, true,false)}">
                            <apex:pageBlock id="pgblock3">
                                <div id="loadingTabs" style="display:none">
                                    <table>
                                        <tr>
                                            <td>
                                                <h6>The tab is loading.Please wait...</h6> </td>
                                            <td>
                                                <apex:image id="theImage" value="{!$Resource.loadingImage}" /> </td>
                                        </tr>
                                    </table>
                                </div>
                                <apex:outputPanel id="filterText">
                                    <apex:outputPanel rendered="{!filtersApplied}"> <b><p style="width:100%;font-size: 13px;">Now reviewing: LOB-<span style="color:red"> {!selectedLOBs}</span>  and Sub-LOB-<span style="color:red"> {!camelCasing }</span>.</p></b> </apex:outputPanel>
                                </apex:outputPanel>
                                <apex:outputPanel >
                                    <apex:pageblockTable id="feedbackTable3" style="background-color:white;font-size:11px;" styleclass="applyTableHeadColor table table-bordered table-hover" value="{!SuperUserUserGrid}" var="feedback">
                                        <apex:column headerValue="Person Number">
                                            <apex:outputText value="{!feedback.Employee_Person_Number__c}" /></apex:column>
                                        <apex:column headerValue="Name">
                                            <apex:actionStatus id="status">
                                                <apex:facet name="start">
                                                    <apex:outputPanel >Retrieving...</apex:outputPanel>
                                                </apex:facet>
                                                <apex:facet name="stop">
                                                    <apex:outputPanel >
                                                        <apex:commandLink onclick="selectTheRecordId('{!feedback.id}')" action="{!emplInfo}" oncomplete="refreshAndOpenPopUp(this);" status="status">
                                                            <apex:outputText value="{!feedback.LNFN__c}" />
                                                            <apex:param name="recordId" value="{!feedback.id}" assignTo="{!recordId}" /></apex:commandLink>
                                                    </apex:outputPanel>
                                                </apex:facet>
                                            </apex:actionStatus>
                                        </apex:column>
                                        <apex:column headerValue="LOB">
                                            <apex:outputText value="{!feedback.LOB__c}" /></apex:column>
                                        <apex:column headerValue="SUB-LOB">
                                            <apex:outputText value="{!feedback.SUB_LOB__c}" /></apex:column>
                                        <apex:column headerValue="CEE Category">
                                            <apex:outputText value="{!feedback.Category__c}" /></apex:column>
                                        <apex:column headerValue="Conduct Outcome">
                                            <apex:outputText value="{!feedback.Conduct__c}" /></apex:column>
                                        <apex:column headerValue="CEE Incentive Rationale Req">
                                            <apex:outputText value="{!feedback.Rationale_Req__c}" /></apex:column>
                                        <apex:column headerValue="Conduct Outcome Impact">
                                            <apex:outputText value="{!feedback.Rationale_Reason__c}" /></apex:column>
                                        <apex:column headerValue="Results Rating">
                                            <center>
                                                <apex:outputText value="{!feedback.Results_Rating__c}" />
                                            </center>
                                        </apex:column>
                                        <apex:column headerValue="Behavior Rating">
                                            <center>
                                                <apex:outputText value="{!feedback.Behavior_Rating__c}" />
                                            </center>
                                        </apex:column>
                                        <apex:column headerValue="'18vs'17 Incentives YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.YOY_Incentives__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="'18vs'17 TComp YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.YOY_TComp__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="Pool Funding/SS YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.Pool_Funding__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="Comp Approach">
                                            <apex:outputText value="{!feedback.Comp_Approach__c}" /></apex:column>
                                        <apex:column headerValue="1st Sentence">
                                            <apex:outputText value="{!feedback.Standard_Sentence__c}" /></apex:column>
                                        <apex:column headerValue="Pay Rationale">
                                            <apex:outputText value="{!LEFT(feedback.Rationale__c,300)}" /></apex:column>
                                        <apex:column headerValue="Combined">
                                            <apex:outputText value="{!LEFT(feedback.Standard_Sentence__c + ' ' + feedback.Rationale__c, 300)}" /></apex:column>
                                        <apex:column headerValue=" Rating Rationale">
                                            <apex:outputText value="{!LEFT(feedback.Rating_Rationale__c, 300)}" /></apex:column>
                                        <apex:column headerValue="Performance Commentary">
                                            <apex:outputText value="{!LEFT (feedback.Performance_Commentary__c, 300)}" /></apex:column>
                                    </apex:pageblockTable>
                                </apex:outputPanel>
                            </apex:pageBlock>
                        </apex:tab>
                        <apex:tab label="LOB View" ontabenter="tabClick('4');" name="4" styleClass="nav nav-tabs" rendered="{!If(profileIndicator['LOBAdmin']==true, true,false)}">
                            <apex:pageBlock id="pgblock4">
                                <div id="loadingTabs" style="display:none">
                                    <table>
                                        <tr>
                                            <td>
                                                <h6>The tab is loading.Please wait...</h6> </td>
                                            <td>
                                                <apex:image id="theImage" value="{!$Resource.loadingImage}" /> </td>
                                        </tr>
                                    </table>
                                </div>
                                <apex:outputPanel id="filterText">
                                    <apex:outputPanel rendered="{!filtersApplied}"> <b><p style="width:100%;font-size: 13px;">Now reviewing: LOB-<span style="color:red"> {!selectedLOBs}</span>  and Sub-LOB-<span style="color:red"> {!camelCasing }</span>.</p></b> </apex:outputPanel>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!profileIndicator['configLOBAdmin']}">
                                    <apex:pageblockTable id="feedbackTable4" styleclass="applyTableHeadColor table table-bordered table-hover" value="{!LOBAdminGrid}" var="feedback" style="font-size:11px;">
                                        <apex:column headerValue="Person Number">
                                            <apex:outputText value="{!feedback.Employee_Person_Number__c}" /></apex:column>
                                        <apex:column headerValue="Name">
                                            <apex:actionStatus id="status">
                                                <apex:facet name="start">
                                                    <apex:outputPanel >Retrieving...</apex:outputPanel>
                                                </apex:facet>
                                                <apex:facet name="stop">
                                                    <apex:outputPanel >
                                                        <apex:commandLink onclick="selectTheRecordId('{!feedback.id}')" action="{!emplInfo}" oncomplete="refreshAndOpenPopUp(this);" status="status">
                                                            <apex:outputText value="{!feedback.LNFN__c}" />
                                                            <apex:param name="recordId" value="{!feedback.id}" assignTo="{!recordId}" /></apex:commandLink>
                                                    </apex:outputPanel>
                                                </apex:facet>
                                            </apex:actionStatus>
                                        </apex:column>
                                        <apex:column headerValue="LOB">
                                            <apex:outputText value="{!feedback.LOB__c}" /></apex:column>
                                        <apex:column headerValue="SUB-LOB">
                                            <apex:outputText value="{!feedback.SUB_LOB__c}" /></apex:column>
                                        <apex:column headerValue="CEE Category">
                                            <apex:outputText value="{!feedback.Category__c}" /></apex:column>
                                        <apex:column headerValue="Conduct Outcome">
                                            <apex:outputText value="{!feedback.Conduct__c}" /></apex:column>
                                        <apex:column headerValue="CEE Incentive Rationale Req">
                                            <apex:outputText value="{!feedback.Rationale_Req__c}" /></apex:column>
                                        <apex:column headerValue="Conduct Outcome Impact">
                                            <apex:outputText value="{!feedback.Rationale_Reason__c}" /></apex:column>
                                        <apex:column headerValue="Results Rating">
                                            <center>
                                                <apex:outputText value="{!feedback.Results_Rating__c}" />
                                            </center>
                                        </apex:column>
                                        <apex:column headerValue="Behavior Rating">
                                            <center>
                                                <apex:outputText value="{!feedback.Behavior_Rating__c}" />
                                            </center>
                                        </apex:column>
                                        <apex:column headerValue="'18vs'17 Incentives YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.YOY_Incentives__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="'18vs'17 TComp YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.YOY_TComp__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="Pool Funding/SS YOY% Change">
                                            <center>
                                                <apex:outputText value="{!feedback.Pool_Funding__c}" /> </center>
                                        </apex:column>
                                        <apex:column headerValue="Comp Approach">
                                            <apex:outputText value="{!feedback.Comp_Approach__c}" /></apex:column>
                                        <apex:column headerValue="1st Sentence">
                                            <apex:outputText value="{!feedback.Standard_Sentence__c}" /></apex:column>
                                        <apex:column headerValue="Pay Rationale">
                                            <apex:outputText value="{!LEFT(feedback.Rationale__c,300)}" /></apex:column>
                                        <apex:column headerValue="Combined">
                                            <apex:outputText value="{!LEFT(feedback.Standard_Sentence__c + '  ' + feedback.Rationale__c, 300)}" /></apex:column>
                                        <apex:column headerValue=" Rating Rationale">
                                            <apex:outputText value="{!LEFT(feedback.Rating_Rationale__c, 300)}" /></apex:column>
                                        <apex:column headerValue="Performance Commentary">
                                            <apex:outputText value="{!LEFT (feedback.Performance_Commentary__c, 300)}" /></apex:column>
                                    </apex:pageblockTable>
                                </apex:outputPanel>
                            </apex:pageBlock>
                        </apex:tab>
                    </apex:tabPanel>
                    <apex:pageBlock id="applyFilter">
                        <div id="filter" class="modal fade" role="dialog" data-backdrop="static">
                            <div class="modal-dialog cffModalFilter">
                                <div class="modal-content">
                                    <div class="modal-header" style="display:{!If(profileIndicator['SuperUser']==true,'','none')}">
                                        <br/>
                                        <h6><b><span style="color:red">ACTION: </span>You can filter records based on LOB and Sub-LOB combination.</b></h6>
                                        <h6 style="margin-left: 15px;"><b>1. Please select one or more values from the LOB multi-selectable picklist to view the associated Sub-LOBs. </b></h6>
                                        <h6 style="margin-left: 15px;"><b>2. Select one or more values from the Sub-LOB multi-selectable picklist and click on Apply Filters to view the filtered records.</b></h6>
                                        <h6 style="margin-left: 15px;"><b>3. Click on close if you want to exit from the pop-up and return to the grid view.</b></h6>
                                        <h5><span class="label label-info">Multiple values in list can be selected by holding <kbd>CTRL + Click</kbd> the options.</span></h5>
                                        <br></br>
                                </div>
                                <div class="modal-header" style="display:{!If(profileIndicator['provider']==true || profileIndicator['Reviewer']==true,'','none')}">
                                    <br/>
                                    <h6><b><span style="color:red">ACTION: </span>You can filter records based on LOB and Sub-LOB combination.</b></h6>
                                    <h6 style="margin-left: 15px;"><b>1. Please select one or more values from the LOB multi-selectable picklist to view the associated Sub-LOBs. </b></h6>
                                    <h6 style="margin-left: 15px;"><b>2. Select one or more values from the Sub-LOB multi-selectable picklist and click on Apply Filters to view the filtered records.</b></h6>
                                    <h6 style="margin-left: 15px;"><b>3. Click on close if you want to exit from the pop-up and return to the grid view.</b></h6>
                                    <h5><span class="label label-info">Multiple values in list can be selected by holding <kbd>CTRL + Click</kbd> the options.</span></h5>
                                    <br></br>
                            </div>
                            <div class="modal-header" style="display:{!If(profileIndicator['LOBAdmin']==true,'','none')}">
                                <br/>
                                <h6><b><span style="color:red">ACTION: </span>You can filter records based on LOB and Sub-LOB combination.</b></h6>
                                <h6 style="margin-left: 15px;"><b>1. Please select one or more values from the LOB multi-selectable picklist to view the associated Sub-LOBs. </b></h6>
                                <h6 style="margin-left: 15px;"><b>2. Select one or more values from the Sub-LOB multi-selectable picklist and click on Apply Filters to view the filtered records.</b></h6>
                                <h6 style="margin-left: 15px;"><b>3. Click on close if you want to exit from the pop-up and return to the grid view.</b></h6>
                                <h5><span class="label label-info">Multiple values in list can be selected by holding <kbd>CTRL + Click</kbd> the options.</span></h5>
                                <br></br>
                        </div>
                        <div class="modal-body cffFilterModalBody">
                            <div class="form-group">
                                <apex:actionStatus id="statusLoadingDependentDropdown" stopText="">
                                    <apex:facet name="start"> <b><span  >Your request is currently processing.</span></b> </apex:facet>
                                </apex:actionStatus>
                                <table>
                                    <tr>
                                        <td>
                                            <apex:outputPanel >
                                                <h5><b> LOB </b></h5>
                                                <apex:selectList id="controllingPicklist" styleClass="form-control controllingLOB" style="font-size:10pt" size="5" value="{!selectedLOBInTheFilter}" multiselect="true">
                                                    <apex:selectOptions value="{!LOBInFilter}" />
                                                    <apex:actionSupport event="onchange" rerender="dependentPicklist" status="statusLoadingDependentDropdown" oncomplete="enableFilterButton();" onsubmit="disableFilterButton();" /> </apex:selectList>
                                            </apex:outputPanel>
                                        </td>
                                        <td>
                                            <apex:outputPanel >
                                                <h5 style="margin-left:20%"><b> Sub-LOB </b></h5>
                                                <apex:selectList id="dependentPicklist" styleClass="form-control dependentSLOB" style="font-size:10pt;margin-left:22%" size="5" multiselect="true">
                                                    <apex:selectOptions value="{!dependentValues}" /> </apex:selectList>
                                            </apex:outputPanel>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div id='applyFilters'></div>
                            <apex:outputPanel id="footerForFilterScreen">
                                <apex:commandButton value="Apply Filters" styleClass="btn btn-default applyFilters" onclick="captureDependentValue();showFilterMessage();applyFilters();disableFilterButton();return false;" disabled="{!If(filtersApplied == true, false,true)}" />
                                <apex:commandButton value="Close" styleClass="btn btn-default" onclick="closeFilter();return false;" /></apex:outputPanel>
                        </div>
                    </div>
                </div>
            </div>
        </apex:pageBlock>
        <apex:pageBlock id="pgblock5">
            <div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="overflow-y:auto;">
                <!--div class="waitingSearchDiv" id="el_loading" style="background-color: #DCD6D6;height: 100%;opacity:0.65;width:100%;">
<div class="waitingHolder" style="top: 50%; margin-left: 50%;width: 91px;"> <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." /> <span class="waitingDescription">Processing...</span> </div>
</div-->
         
         <div class="modal-dialog modal-lg cffModal">
                    <div class="modal-content">

                        <div class="modal-body cffModalBody" style="overflow-x:hidden;">
                        <div class="waitingSearchDiv" id="el_loading" style="background-color: #DCD6D6; height: 100%;opacity:0.65;width:100%;z-index: 1; position: absolute;">
                        <div class="waitingHolder" style="top: 50%; width: 91px;margin-top: 20%;margin-left: 41%;"> <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." /> <span class="waitingDescription">Processing...</span> </div>
                    </div>
                            <apex:outputPanel id="body" rendered="{!If(profileIndicator['provider']==true || profileIndicator['Reviewer']==true || profileIndicator['SuperUser']==true||profileIndicator['LOBAdmin']==true, true,false)}">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <h5 style="text-align: left;"><b>{!feedbackDtl.LNFN__c} </b></h5> </div>
                                        <div class="col-lg-4">
                                            <h5 style="text-align: center; font-size:small;"><b><apex:outputText value="LOB: "></apex:outputText> </b>{!feedbackDtl.LOB__c}</h5> </div>
                                        <div class="col-lg-4">
                                            <h5 style="text-align: right; font-size:small;"><b><apex:outputText value="SUB-LOB: "></apex:outputText> </b>{!feedbackDtl.SUB_LOB__c}</h5> </div>
                                    </div>
                                    <div class="row modal-body">
                                        <apex:actionFunction name="renderstandardsentence" action="{!populateStandard1stSentence}" reRender="stndrdfld,strdlabel" />
                                        <table Class="table table-bordered table-hover" style="margin-bottom:10px;">
                                            <tr style="background-color:#b1afaf;" class="headerRow">
                                                <th width="20%" style="border:1px solid black; text-align:center;padding:2px;" class="headerRow">
                                                    <h5><b><apex:outputText value="Results Rating" style="font-size:small"></apex:outputText> </b></h5> </th>
                                                <th width="20%" style="border:1px solid black;text-align:center;padding:2px;" class="headerRow">
                                                    <h5><b><apex:outputText value="Behavior Rating" style="font-size:small"></apex:outputText> </b></h5> </th>
                                                <th width="20%" style="border:1px solid black;text-align:center;padding:2px;" class="headerRow">
                                                    <h5><b><apex:outputText value="'18 vs '17 Incentives" style="font-size:small"></apex:outputText><br/><apex:outputText value="YOY% Change" style="font-size:small"></apex:outputText></b></h5> </th>
                                                <th width="20%" style="border:1px solid black;text-align:center;padding:2px;" class="headerRow">
                                                    <h5><b><apex:outputText value="'18 vs '17 TComp" style="font-size:small"></apex:outputText><br/><apex:outputText value="YOY% Change" style="font-size:small"></apex:outputText> </b></h5> </th>
                                                <th width="20%" style="border:1px solid black;text-align:center;padding:2px;">
                                                    <h5><b><apex:outputText value="Pool Funding/SS" style="font-size:small"></apex:outputText><br/><apex:outputText value="YOY% Change" style="font-size:small"></apex:outputText> </b></h5> </th>
                                            </tr>
                                            <tr style="border:1px solid black; text-align:center;">
                                                <td width="20%" style="border:1px solid black;font-size:small">{!feedbackDtl.Results_Rating__c}</td>
                                                <td width="20%" style="border:1px solid black;font-size:small">{!feedbackDtl.Behavior_Rating__c}feedbackDtl::{!feedbackDtl.Id}::{!feedbackDtl.Rationale__c}</td>
                                                <td width="20%" style="border:1px solid black;font-size:small;">{!feedbackDtl.YOY_Incentives__c}</td>
                                                <td width="20%" style="border:1px solid black;font-size:small">{!feedbackDtl.YOY_TComp__c}</td>
                                                <td width="20%" style="border:1px solid black;font-size:small">{!feedbackDtl.Pool_Funding__c}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row" style="padding-left: 15px;">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="border: 1px solid;background-color:#b1afaf;width: 32.5%;">
                                                    <h5 style="text-align:center;"><b ><apex:outputText value="Comp Approach to 1st Sentence" style="font-size:small"></apex:outputText> </b></h5> </td>
                                                <td style="width:30%;">
                                                    <apex:inputfield onchange="renderstandardsentence();" style="width:156px;height:35px;" value="{!feedbackDtl.Comp_Approach__c}" rendered="{!NOT(profileIndicator['LOBAdmin'])}"></apex:inputfield>
                                                    <apex:outputText style="border-left:0 solid white !important;border:1px solid;padding:7px 51px 9px 8px;" value="{!feedbackDtl.Comp_Approach__c}" rendered="{!profileIndicator['LOBAdmin']}"></apex:outputText>
                                                </td>
                                                <td style="width:20%;"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>
                                                <apex:outputPanel id="strdlabel">
                                                    <div style="padding-top:15px;padding-bottom:7px;display:{!IF(OR(feedbackDtl.Comp_Approach__c=='Total Comp',feedbackDtl.Comp_Approach__c=='Total Incentives-1', feedbackDtl.Comp_Approach__c=='Total Incentives-2'),'flex','none')}">
                                                        <div style="font-size:small;font-weight:bold;">Standard 1st Sentence</div>
                                                    </div>
                                                </apex:outputPanel>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <apex:outputPanel id="stndrdfld">
                                                    <apex:inputTextArea value="{!feedbackDtl.Standard_Sentence__c}" cols="103" rows="2" disabled="{!profileIndicator['LOBAdmin']}" rendered="{!OR(feedbackDtl.Comp_Approach__c=='Total Comp',feedbackDtl.Comp_Approach__c=='Total Incentives-1', feedbackDtl.Comp_Approach__c=='Total Incentives-2')}" style="font-size:13px;" /></apex:outputPanel>
                                            </td>
                                        </tr>
                                        <tr style="display:{!IF(contains(FieldtobeRendered,'Rationale_pay__c'),'','none')}">
                                            <td>
                                                <div style="padding-top:15px;display:flex;padding-bottom:7px;">
                                                    <div style="font-size:small;font-weight:bold;"> Incentive Pay Rationale :{!feedbackDtl.Id}::{!feedbackDtl.Rationale__c} {!feedbackDtl.Rationale__c}</div> &nbsp;
                                                    <apex:outputLabel style="color: red;font-size: 20px;font-weight:  bold;display: inline;" rendered="{!NOT(profileIndicator['LOBAdmin'])}"> * </apex:outputLabel>
                                                </div>
                                                <div id="limitChar"> </div>
                                            </td>
                                        </tr>
                                        <tr style="display:{!IF(contains(FieldtobeRendered,'Rationale_pay__c'),'','none')}">
                                            <td>
                                                <div style="display:flex;"> nggg
                                                    <apex:inputTextArea value="{!feedbackDtl.Rationale__c}" cols="95" rows="3" disabled="{!profileIndicator['LOBAdmin']}" style="font-size:13px;width:83%" id="irl" html-maxlength="3000" onkeyup="charLimit(3000)" />
                                                    <apex:commandButton style="margin-left: 2%;font-family:calibri;background-color:lightgray" value="Full Text View" reRender="nothing" oncomplete="renderedpopupField('Rationale_pay__c');" onclick="dofill('thePage:frm1:pgblock5:popblock:irlfull','thePage:frm1:pgblock5:irl','Rationale_pay__c');" /> </div>
                                            </td>
                                        </tr>
                                        <tr style="display:{!IF(contains(FieldtobeRendered,'Rating_Rationale__c'),'','none')}">
                                            <td>
                                                <div style="padding-top:15px;display:flex;padding-bottom:7px;">
                                                    <div style="font-size:small;font-weight:bold;"> Rating Rationale </div>&nbsp;
                                                    <apex:outputLabel style="color: red;font-size: 20px;font-weight:  bold;display: inline;" rendered="{!NOT(profileIndicator['LOBAdmin'])}"> * </apex:outputLabel>
                                                </div>
                                                <div id="limitrationaleChar"> </div>
                                            </td>
                                        </tr>
                                        <tr style="display:{!IF(contains(FieldtobeRendered,'Rating_Rationale__c'),'','none')}">
                                            <td>
                                                <div style="display:flex;">
                                                    <apex:inputTextArea value="{!feedbackDtl.Rating_Rationale__c}" cols="95" rows="3" disabled="{!profileIndicator['LOBAdmin']}" style="font-size:13px;width:83%" id="rationaleinput" html-maxlength="3000" onkeyup="charLimitALL(3000,this.id,'limitrationaleChar');" />
                                                    <apex:commandButton style="margin-left: 2%;font-family:calibri;background-color:lightgray" reRender="nothing" value="Full Text View" oncomplete="renderedpopupField('Rating_Rationale__c');" onclick="dofill('thePage:frm1:pgblock5:popblock:rationaleFull','thePage:frm1:pgblock5:rationaleinput','Rating_Rationale__c');" /> </div>
                                            </td>
                                        </tr>
                                        <tr style="display:{!IF(contains(FieldtobeRendered,'Performance_Commentary__c'),'','none')}">
                                            <td>
                                                <div style="padding-top:15px;display:flex;padding-bottom:7px;">
                                                    <div style="font-size:small;font-weight:bold;"> Performance Commentary </div>&nbsp;
                                                    <apex:outputLabel style="color: red;font-size: 20px;font-weight:  bold;display: inline;" rendered="{!NOT(profileIndicator['LOBAdmin'])}"> * </apex:outputLabel>
                                                </div>
                                                <div id="limitperfChar"> </div>
                                            </td>
                                        </tr>
                                        <tr style="display:{!IF(contains(FieldtobeRendered,'Performance_Commentary__c'),'','none')}">
                                            <td>
                                                <div style="display:flex;">
                                                    <apex:inputTextArea value="{!feedbackDtl.Performance_Commentary__c}" cols="95" rows="3" disabled="{!profileIndicator['LOBAdmin']}" style="font-size:13px;width:83%" id="perfCom" html-maxlength="3000" onkeyup="charLimitALL(3000,this.id,'limitperfChar');" />
                                                    <apex:commandButton style="margin-left: 2%;font-family:calibri;background-color:lightgray" reRender="nothing" value="Full Text View" oncomplete="renderedpopupField('Performance_Commentary__c');" onclick="dofill('thePage:frm1:pgblock5:popblock:perfComFull','thePage:frm1:pgblock5:perfCom','Performance_Commentary__c');" /> </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </apex:outputPanel>
                        </div>
                        <div class="modal-footer">
                            <apex:outputPanel id="footer" rendered="{!If(profileIndicator['provider']==true || profileIndicator['Reviewer']==true || profileIndicator['SuperUser']==true, true,false)}">
                                <apex:outputPanel id="errorpanel">
                                    <div style="display:{!IF(NOT(isValidated),'','none')};color:red; text-align:left;font-family:calibri;"><b>Error: </b>{!errormsg}</div>
                                    <br/> </apex:outputPanel>
                                <center>
                                    <div>
                                        <apex:actionstatus id="actStatusVal">
                                            <apex:facet name="start">
                                                <div style="font-family:calibri;font-weight:bold;"> Please Wait, Saving... </div>
                                            </apex:facet>
                                        </apex:actionstatus>
                                    </div>
                                    <br/>
                                    <apex:commandButton value="Save" style="margin-right:15px;width:60px;" action="{!updateIR}" reRender="pgblock1,pgblock2,pgblock3,errorpanel,isValidatedinput" oncomplete="applyDataTable();onPopUpCloseConfigurations(this,true); return false;" status="actStatusVal" />
                                    <apex:inputhidden value="{!isValidated}" id="isValidatedinput" />
                                    <apex:commandButton value="Cancel" onclick="onPopUpCloseConfigurations(this,false); return false;" reRender="pgblock1,pgblock2,pgblock3" status="actStatusVal" /> </center>
                            </apex:outputPanel>
                            <apex:outputPanel id="footerForLOBAdmin" rendered="{!If(profileIndicator['LOBAdmin']==true, true,false)}">
                                <center>
                                    <apex:commandButton value="Close" onclick="onPopUpCloseConfigurations(this,false); return false;" /> </center>
                            </apex:outputPanel>
                        </div>
                    </div>
                </div>
            </div>
            <apex:pageBlock id="popblock">
            
                <div id="myModalinput" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg cffModal">
                        <div class="modal-content">
                        
                            <div class="modal-body cffModalBody" style="overflow-x:hidden;">
                                <table style="width:100%">
                                    <tr style="display:{!IF(FieldtobeRenderedinPopup=='Rationale_pay__c','','none')}">
                                        <td>
                                            <h5 style="padding-top:10px;"><b><apex:outputText value="Incentive Pay Rationale" style="font-size:small"></apex:outputText> </b></h5>
                                            <div id="limitCharFull"> </div>
                                        </td>
                                    </tr>
                                    <tr style="display:{!IF(FieldtobeRenderedinPopup=='Rationale_pay__c','','none')}">
                                        <td>
                                            <!--apex:inputTextArea value="{!feedbackDtl.Rationale__c}" cols="55" rows="20" disabled="{!profileIndicator['LOBAdmin']}" style="font-size:13px;width:100%;" html-maxlength="3000" id="irlfull" onkeyup="charLimitALL(3000,this.id,'limitCharFull');" rendered="{!AND(isPopup,FieldtobeRenderedinPopup=='Rationale_pay__c')}" /---> </td>
                                    </tr>
                                    <tr style="display:{!IF(FieldtobeRenderedinPopup=='Rating_Rationale__c','','none')}">
                                        <td>
                                            <h5 style="padding-top:10px;"><b><apex:outputText value="Rating Rationale" style="font-size:small"></apex:outputText> </b></h5>
                                            <div id="limitrationaleCharFull"> </div>
                                        </td>
                                    </tr>
                                    <tr style="display:{!IF(FieldtobeRenderedinPopup=='Rating_Rationale__c','','none')}">
                                        <td>
                                            <apex:inputTextArea value="{!feedbackDtl.Rating_Rationale__c}" cols="55" rows="20" disabled="{!profileIndicator['LOBAdmin']}" style="font-size:13px;width:100%;" html-maxlength="3000" id="rationaleFull" onkeyup="charLimitALL(3000,this.id,'limitrationaleCharFull');" rendered="{!AND(isPopup,FieldtobeRenderedinPopup=='Rating_Rationale__c')}" /> </td>
                                    </tr>
                                    <tr style="display:{!IF(FieldtobeRenderedinPopup=='Performance_Commentary__c','','none')}">
                                        <td>
                                            <h5 style="padding-top:10px;"><b><apex:outputText value="Performance Commentary" style="font-size:small"></apex:outputText> </b></h5>
                                            <div id="limitPerfCharFull"> </div>
                                        </td>
                                    </tr>
                                    <tr style="display:{!IF(FieldtobeRenderedinPopup=='Performance_Commentary__c','','none')}">
                                        <td>
                                            <apex:inputTextArea value="{!feedbackDtl.Performance_Commentary__c}" cols="55" rows="20" disabled="{!profileIndicator['LOBAdmin']}" style="font-size:13px;width:100%;" html-maxlength="3000" id="perfComFull" onkeyup="charLimitALL(3000,this.id,'limitPerfCharFull');" rendered="{!AND(isPopup,FieldtobeRenderedinPopup=='Performance_Commentary__c')}" /> </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <apex:outputPanel id="footerinput" rendered="{!If(profileIndicator['provider']==true || profileIndicator['Reviewer']==true || profileIndicator['SuperUser']==true, true,false)}">
                                    <center>
                                        <apex:actionstatus id="actStatusVal">
                                            <apex:facet name="start">
                                                <apex:image id="theImage" value="{!$Resource.Processing}" height="25" width="25" /> </apex:facet>
                                        </apex:actionstatus>
                                        <apex:commandButton value="OK" style="margin-right:15px;width:60px;" action="{!Resetpopup}" reRender="irl,rationaleinput,perfCom" oncomplete="hideinputModal(this); return false;" status="actStatusVal" />
                                        <apex:commandButton value="Cancel" onclick="hideinputModal(); return false;" status="actStatusVal" /> </center>
                                </apex:outputPanel>
                                <apex:outputPanel id="footerForLOBAdmin" rendered="{!If(profileIndicator['LOBAdmin']==true, true,false)}">
                                    <center>
                                        <apex:commandButton value="Close" onclick="hideinputModal(); return false;" /> </center>
                                </apex:outputPanel>
                            </div>
                        </div>
                    </div>
                </div>
            </apex:pageBlock>
        </apex:pageBlock>
    </td>
</tr>
</table>
</div>
</apex:form>
</div>
</body>

</html>
</apex:page>