<apex:page standardStylesheets="false" standardController="Nomination__c" extensions="Nominations_Controller" id="thePage" sidebar="false" showHeader="false" cache="true" action="{!refreshNominations}" contentType="application/vnd.ms-excel#NomsiteExcel_Export.xls">
    <!--contentType="application/vnd.ms-excel#NomsiteExcel_Export.xls"-->
    <html>

    <head>
        <style type="text/css">
        @page {
            size: landscape;
            width: 100%;
            margin: 0;
            padding: 0;
            background: none;
        }
        </style>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /> </head>

    <body>
        <div class="pageBreakNotAllowed">
            <apex:outputPanel ><!--rendered="{!AND((isAdmin), (isAdminLike) == false)}"-->
                <Table class="print-friendly" width="100%" border="1" cellpadding="5" style="border-collapse: collapse;">
                    <tr>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;height:35px;">Nomination ID</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Nominee</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">No. of Nominations</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Nomination Type</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Team Name</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Nominated By</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Assignee</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Line of Business </th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Sub Line of Business</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Status</th>
                        <!--th style="background-color: #012169;color: white;border: 1px solid #012169;">History</th--->
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Create Date</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Update Date</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Update By</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Nomination Year</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Nominator Email</th>
                        <!-->Individual AND Team Attributes Starts
                        <-->
                            <th style="background-color: #012169;color: white;border: 1px solid #012169;">Diversity and Inclusion Priorities</th>
                            <th style="background-color: #012169;color: white;border: 1px solid #012169;">Accomplishments</th>
                            <th style="background-color: #012169;color: white;border: 1px solid #012169;">Role of Nominee in Effort</th>
                            <th style="background-color: #012169;color: white;border: 1px solid #012169;">Impacted Audience</th>
                            <th style="background-color: #012169;color: white;border: 1px solid #012169;">Impacted External Organizations</th>
                            <!--th style="background-color: #012169;color: white;border: 1px solid #012169;">Other Diversity Organizations</th-->
                            <!--th style="background-color: #012169;color: white;border: 1px solid #012169;">Was Associated With EN OR DO</th-->
                            <th style="background-color: #012169;color: white;border: 1px solid #012169;">Employee Network Involvement</th>
                            <!-->Individual AND Team Attributes Ends
                            <-->
                                <!-->Manager Attributes Starts
                                <-->
                                    <th style="background-color: #012169;color: white;border: 1px solid #012169;">Inclusive Leader Attributes</th>
                                    <th style="background-color: #012169;color: white;border: 1px solid #012169;">Transparency</th>
                                    <th style="background-color: #012169;color: white;border: 1px solid #012169;">Trust</th>
                                    <th style="background-color: #012169;color: white;border: 1px solid #012169;">Investment</th>
                                    <th style="background-color: #012169;color: white;border: 1px solid #012169;">Sense of Purpose</th>
                                    <!-->Manager Attributes Ends
                                    <-->
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Public Write-Up</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Final Nomination Verbiage</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Reviewer Comments</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Reviewer Deadline Date</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Winner's Summary</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Reason for Withdrawal</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">GDIC Vice Chair Decision</th>
                                        <!--th style="background-color: #012169;color: white;border: 1px solid #012169;">Information Needed</th-->
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Person Number</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Standard ID</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">4 Dot Hierarchy Code</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Band</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Gender</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Ethnicity</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Job Name</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Employee Start Date</th>
                                        <!--th style="background-color: #012169;color: white;border: 1px solid #012169;">Performance Rating</th-->
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Region</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Preferred Name</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Nominee E-mail</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Division</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">City/State</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Market</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Manager Name</th>
                                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Manager Email</th>
                                        
                                        <!--th style="background-color: #012169;color: white;border: 1px solid #012169;">Priority</th-->
                                        <!--th style="background-color: #012169;color: white;border: 1px solid #012169;">Proxy Name</th>
                        <th style="background-color: #012169;color: white;border: 1px solid #012169;">Proxy Email</th-->
                    </tr>
                    <apex:repeat value="{!TotalNominations}" var="feedback">
                        <tr>
                            <td style="text-align:center;">{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Nomination_Number__c,feedback.Nomination_Number__c)}</td>
                            <td>{!feedback.Nominee_FN__c}</td>
                            <td style="text-align:center;">{!IF(feedback.Nomination_Type__c=='Team',IF(OR(feedback.Team_Nomination__r.Status__c=='Ineligible',feedback.Team_Nomination__r.Status__c=='Withdrawn'), '', feedback.No_of_Nominations__c), IF(OR(feedback.Status__c=='Ineligible',feedback.Status__c=='Withdrawn'), '', feedback.No_of_Nominations__c))}</td> 
                            <td style="text-align:center;">{!feedback.Nomination_Type__c}</td>
                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Team_Title_Name__c,feedback.Team_Title_Name__c)}</td>
                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Created_By__c,feedback.Created_By__c)} </td>
                            <!--td>{!feedback.Assignee_NM__c}</td-->
                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Assignee_NM__c,feedback.Assignee_NM__c)}</td>
                            <td>{!feedback.LOB_Short_Name__c}</td>
                            <td>{!feedback.SUB_LOB_Short_Name__c}</td>
                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Status__c,feedback.Status__c)}</td>
                            <td>
                                
                             <apex:outputText value=" {!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Created_Date__c,feedback.Created_Date__c)}">  </apex:outputText>   
                             
                                
                            </td>
                            <td>
                                <apex:outputText value=" {!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.LastModifiedDate,feedback.LastModifiedDate)}">  </apex:outputText>
                                

                            </td>
                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.LastModifiedBy.Name,feedback.LastModifiedBy.Name)}</td>
                            <td style="text-align:center;">{!feedback.Nomination_Year__c}</td>
                            <td>{!feedback.Nominator_E_mail__c}</td>
                            <!-->Individual AND Team Attributes Starts
                            <-->
                                <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.DI_Priority__c,feedback.DI_Priority__c)} </td>
                                <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Accomplishments__c,feedback.Accomplishments__c)} </td>
                                <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Role_of_Nominee_in_Effort__c,feedback.Role_of_Nominee_in_Effort__c)} </td>
                                <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Impacted_Audience__c,feedback.Impacted_Audience__c)} </td>
                                <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Impacted_External_Organizations__c,feedback.Impacted_External_Organizations__c)} </td>
                                <!--td>{!feedback.Other_Diversity_Organizations__c}</td-->
                                <!--td>{!feedback.Was_Associated_With_EN_OR_DO__c}</td-->
                                <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Employee_Network_Involvement__c,feedback.Employee_Network_Involvement__c)} </td>
                                <!-->Individual AND Team Attributes Ends
                                <-->
                                    <!-->Manager Attributes Starts
                                    <-->
                                        <td>{!feedback.Inclusive_Leader_Attributes__c}</td>
                                        <td>{!feedback.Transparency__c}</td>
                                        <td>{!feedback.Trust__c}</td>
                                        <td>{!feedback.Investment__c}</td>
                                        <td>{!feedback.Purpose__c}</td>
                                        <!-->Manager Attributes Ends
                                        <-->
                                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Public_Write_Up__c,feedback.Public_Write_Up__c)}</td>
                                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Final_Nomination_Verbiage__c,feedback.Final_Nomination_Verbiage__c)} </td>
                                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Reviewer_Comments__c,feedback.Reviewer_Comments__c)} </td>
                                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Reviewer_Deadline_Date__c,feedback.Reviewer_Deadline_Date__c)} </td>
                                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Winner_s_Summary__c,feedback.Winner_s_Summary__c)} </td>
                                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.Reason_For_Withdrawal__c,feedback.Reason_For_Withdrawal__c)} </td>
                                            <td>{!IF(feedback.Nomination_Type__c=='Team',feedback.Team_Nomination__r.GDIC_Vice_Chair_Decision__c,feedback.GDIC_Vice_Chair_Decision__c)} </td>
                                            <!--td>{!feedback.Information_Needed__c}</td-->
                                            <td style="text-align:center;">{!feedback.Person_Number__c}</td>
                                            <td style="text-align:center;">{!feedback.Standard_ID__c}</td>
                                            <td style="text-align:center;">{!feedback.X4_Dot_Hierarchy_Code__c}</td>
                                            <td style="text-align:center;">{!feedback.Band__c}</td>
                                            <td style="text-align:center;">{!feedback.Gender__c}</td>
                                            <td>{!feedback.Ethnicity__c}</td>
                                            <td>{!feedback.Job_Name__c}</td>
                                            <td style="text-align:center;">
                                                <apex:outputText value=" {!feedback.Emp_Start_Date__c}"> </apex:outputText>
                                            </td>
                                            <!--td>{!feedback.Performance_Rating__c}</td-->
                                            <td style="text-align:center;">{!feedback.Region__c}</td>
                                            <td>{!feedback.Preferred_Name__c}</td>
                                            <td>{!feedback.Nominee_E_mail__c}</td>
                                            <td>{!feedback.Division__c}</td>
                                                <td style="text-align:center;">{!feedback.Geographic_Location__c}</td>
                                            <td>{!feedback.Market__c}</td>
                                            <td>{!feedback.Manager_Name__c}</td>
                                            <td>{!feedback.Manager_E_mail__c}</td>
                                        
                                            <!--td>{!feedback.Priority__c}</td-->
                                            <!--td>{!feedback.Proxy_Name__c}</td>
                            <td>{!feedback.Proxy_Email__c}</td-->
                        </tr>
                    </apex:repeat>
                </Table>
            </apex:outputPanel>
        </div>
    </body>

    </html>
</apex:page>