<apex:page standardController="Account"   readOnly="true" showHeader="false" applyHtmlTag="false" recordSetVar="Accounts" extensions="halfseriALIZE"> 
<!-- Begin Default Content REMOVE THIS -->
<html>
    <header>

        <script type="text/javascript" src="{!$resource.FileSavermin}"></script>
        <script type="text/javascript" src="{!$resource.jquery1124min}"></script>
       <!-- <script type="text/javascript" src="{!$resource.jspdfdebug}"></script>
        <script type="text/javascript" src="{!$resource.jspdfautoTable}"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.1.0/jspdf.plugin.autotable.js"></script>
        <script type="text/javascript" src="{!$resource.jquery1124min}"></script>
        <script type="text/javascript" src="{!$resource.jszipmin}"></script>
        <script type="text/javascript" src="{!$resource.jszip}"></script>
        <script>
            var zip = new JSZip();
        </script>
    </header>
        <apex:pagemessages />      
    <body>
        <apex:variable var="i" value="{!0}"/> 

<apex:repeat value="{!acwrpaerLIst}" var="empInfo">
             

        <script>
        $(function() { 
 
          var pdf = new jsPDF('p', 'pt')
                   console.log('pdf div');

           console.log(pdf);
           var header = function(data) {
    pdf.setFontSize(18);
    pdf.setTextColor(40);
    pdf.setFontStyle('normal');
    //doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
    pdf.text("{!empInfo.nameval}", data.settings.margin.left, 50    );
  };

           var rows = {!consLIst[empInfo.idval]};
                console.log('rows data:');
                console.log(rows);
                var titleVal ="           "+ "{!empInfo.nameval}";
                var columns = [
                    { title: "", dataKey: "Audit_Type" },
                    { title: "2016 Rating", dataKey: "CFF_Rating" },
                    { title: "2016 Control Function Feedback", dataKey: "CF_Commentary" }
                ];
   pdf.autoTable(columns ,rows  , {
    margin: {top: 0},addPageContent:header,    startY: pdf.autoTableEndPosY() + 5,styles:{overflow:'linebreak',overflowcolumns:'linebreak'}
 });
var idvsl ="{!empInfo.idval}";

      
     
    if(idvsl!="0"){

        zip.file("{!empInfo.nameval}.pdf", pdf.output('blob'));
        }

        })
        </script>
        <apex:variable var="i" value="{!i+1}"/>            

        </apex:repeat>
        </body>
        <script>
        $(function() {
         zip.generateAsync({ type: "blob" })
        .then(function (content) {
        saveAs(content,"test.zip");
        });
        });
        </script>
        

    </html>
 </apex:page>