<apex:page >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script>
  var jq = $.noConflict();
var myVarl = setInterval(function progressbarInterval(){caliculatePercentage(30000)}, 1000);
 
jq(document).ready(function(){

        jq.ajax({
            type:"post",
            timeout: 30000,
            url:"clientnetworkpricelist/yourfile.json",
            data:"title="+clientid,
            success:function(data){
             example();
            },
            error:function(data){
            clearInterval(myVar); 
            }
        });

});

function caliculatePercentage(maxTime){
var currentTime = new Date().getTime();
var maxAPIWaitTime = currentTime + maxTime;
var percentage = (currentTime / maxAPIWaitTime) * 100;
var prgcls = 'progress-bar';
console.log(percentage );
if(percentage==100)
    clearInterval(myVarl);
jq("[class$='" + prgcls+ "']").attr("style","width:"+percentage+"%;");

}

</script>

<p>
Loading..
</p>
<div class="progress">
  <div class="progress-bar" role="progressbar"></div>
</div>
   </apex:page>