<apex:page >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script>
var jq = $.noConflict();
            var il=0;

jq(document).ready(function(){
console.log('exe');

 var clientid = 'clientid';
        jq.ajax({
            type:"post",
            timeout: 30000,
            url:"clientnetworkpricelist/yourfile.json",
            data:"title="+clientid,
            success:function(data){
             }
        });

});
 if(il<=100){
//var myVarl = setInterval(function test(){console.log(il+'illl'); if(il==100) return;caliculatePercentage(30000);}, 1000);
var myVarl = setInterval(function test(){caliculatePercentage(30000)}, 1000);

}
else{
}
function caliculatePercentage(maxTime){
var currentTime = new Date().getTime();
var maxAPIWaitTime = currentTime + maxTime;
var percentage = (currentTime / maxAPIWaitTime) * 100;
var prgcls = 'progress-bar';
jq("[class$='" + prgcls+ "']").attr("style","width:"+il+"%;");
console.log(il+'il va');
if(il==100)
clearInterval(myVarl);
il = il+4;

}



/* function myTimertt(maxTime) {
var currentTime = new Date().getTime();
var maxAPIWaitTime = currentTime + maxTime;
var percentage = (currentTime / maxAPIWaitTime) * 100;
percentage  = il;
var prgcls = 'progress-bar';
jq("[class$='" + prgcls+ "']").attr("style","width:"+percentage+"%;");
console.log(il+'il va');
il = il+10;
} */

 
  </script>

<p>
Loading..
</p>
<div class="progress">
  <div class="progress-bar" role="progressbar"></div>
</div>
<input type="number" id="input" />
 
   </apex:page>