<apex:page controller="Search_Teacher">
<apex:form >
    <apex:pageBlock title="Enter Teacher Name"> 
    <apex:inputText value="{!some}" />
    <apex:commandButton value="Go" action="{!show}" reRender="lab"/>
        <apex:pageBlockTable value="{!list}" var="a" id="lab">
            <apex:column value="{!a.name}"/> 
            <apex:column value="{!a.Course__c}"/> 
            <apex:column value="{!a.Join_Date__c}"/> 
            <apex:column value="{!a.Email__c}"/> 
            <apex:column value="{!a.Phone__c}"/> 
            <apex:column value="{!a.Salary__c}"/>           
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:form>
</apex:page>