<apex:page sidebar="false" showheader="false" standardController="Nomination__c" extensions="TITLE_Mgt_Controller_Serverside" standardStylesheets="false" tabStyle="Nomination__c" id="page">
<html lang="en">
<head>
<title>Management Page</title>
<meta http-equiv="X-UA-Compatible" content="IE=9;IE=EDGE;" />
<meta charset="utf-8" />        
<meta name="viewport" content="width=device-width, initial-scale=1" />

<apex:stylesheet value="{!$Resource.bootstrapminCSS}" />

<apex:includeScript value="{!$Resource.jqueryBSDT}" />
<apex:includeScript value="{!$Resource.jqueryDataTables}" />
<apex:includeScript value="{!$Resource.bootstrapmin}" />
<apex:includeScript value="{!$Resource.dataTables_fixedHeader_min}" />
<apex:includeScript value="{!$Resource.data_table_fixed_header}" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<apex:includeScript value="{!$Resource.jquerycheckboxJS}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<apex:stylesheet value="{!$Resource.FixedHeaderjquery}" />
<apex:stylesheet value="{!$Resource.jquerycheckboxCSS}" />

<script>
$(document).ready(function() {
$("#processingimg").show();
$("#ApprovedButton").addClass('adisabled');
$("#DeclineButton").addClass('adisabled');


checkOnload(true);
console.log('$CurrentPage.parameters.NomType==>');
console.log('{!$CurrentPage.parameters.NomType}');
var isReload = '{!$CurrentPage.parameters.isReload}';
if(isReload!=''&&isReload!=null&&isReload=='true'){
var lob = '{!$CurrentPage.parameters.LOB}';
lob = lob.replace(/\ amp /gi, "&");
console.log('url param:'+lob);
var sublob = '{!$CurrentPage.parameters.subLOB}';
sublob = sublob.replace(/\ amp /gi, "&");
var Region = '{!$CurrentPage.parameters.Region}';
var NominationStatus = '{!$CurrentPage.parameters.NominationStatus}';

var ProposedTitle = '{!$CurrentPage.parameters.ProposedTitle}';
var Band = '{!$CurrentPage.parameters.Band}';
var Division = '{!$CurrentPage.parameters.Division}';
Division = Division.replace(/\ amp /gi, "&");
var Assignee_Filter = '{!$CurrentPage.parameters.Assignee_Filter}';
var Nomination_Type = '{!$CurrentPage.parameters.Nomination_Type}';



getWebLeads('All',{'Status__c':'Recommended Winner','LOB__c':lob,'SUB_LOB__c':sublob,'Proposed_Title__c':ProposedTitle,'Band__c':Band,'Division__c':Division,'Nomination_Status__c':NominationStatus,'Region__c':Region,'Assignee_Filter__c':Assignee_Filter,'Nomination_Type__c':Nomination_Type},true);
onloadParameters(lob,sublob,Region,NominationStatus,ProposedTitle,Division,Band);
//checkboxInputs();

//$("#myCollapse").hide();

}
else
getWebLeads('All',{'Status__c':'Recommended Winner'},true);





function getSelectedValue(id) {
return $("#" + id).find("dt a span.value").html();
}

$(tableId).on("click", "a.history", function(e){
var row = $(this).closest("tr");
var firstTdVal = row.find("td").eq(1).text();
console.log('firstTdVal==>');
console.log(firstTdVal);
console.log($(this)[0]);
//window.top.location.href= '/apex/TITLEHistoryPage?TitleName='+ firstTdVal;
window.open('/apex/TITLEHistoryPage?TitleName='+ firstTdVal);
});

$(tableId).on("click", "a.track", function(e){
var row = $(this).closest("tr");
var firstTdVal = row.find("td").eq(1).text();
console.log('firstTdVal==>');
console.log(firstTdVal);
console.log($(this)[0]);
//window.top.location.href= '/apex/TITLEHistoryPage?TitleName='+ firstTdVal;
window.open('/apex/TITLETrackStatusPage?TitleName='+ firstTdVal);
var pagenum = parseInt($("#All_info").text().substr(7,$("#All_info").text().indexOf('to')-1).split('to')[0].trim())-1;
var lobInfo =$("[id$='LobFilter']").children("option:selected").val()!='--None--'?$("[id$='LobFilter']").children("option:selected").val():'';
var sublob =$("[id$='dSubLOB']").children("option:selected").val()!='--None--'?$("[id$='dSubLOB']").children("option:selected").val():'';
var divisionSelected =$("[id$='division']").children("option:selected").val()!='--None--'?$("[id$='division']").children("option:selected").val():'';
var selectedTitle =$("#ctInfoSelect").html()!='--None--'?$("#ctInfoSelect").html():'';
var selectedBand =$("#bandInfoSelect").html()!='--None--'?$("#bandInfoSelect").html():'';
var selectedRegion =$("#regionInfoSelect").html()!='--None--'?$("#regionInfoSelect").html():'';
var selectedStatus =$("#statusInfoSelect").html()!='--None--'?$("#statusInfoSelect").html():'';
console.log('lobInfo without'+lobInfo);
 console.log(lobInfo);
lobInfo = lobInfo.replace(/\&/gi, " amp ");
sublob = sublob.replace(/\&/gi, " amp ");
divisionSelected = divisionSelected.replace(/\&/gi, " amp ");
console.log('lobInfo with'+lobInfo);
window.open('/apex/TITLEManagementPage?NomType=&pagenumber='+pagenum.toString()+'&LOB='+(lobInfo)+'&sublob='+sublob+'&ProposedTitle='+selectedTitle+'&Band='+selectedBand+'&Division='+divisionSelected+'&NominationStatus='+selectedStatus+'&Region='+selectedRegion+'&isReload=true','_self');
//+'&Assignee_Filter='+Assignee_Filter
isNewTab = true;
rerenderisNew();
});

$(tableId).on("click", "a.multi", function(e){
var row = $(this).closest("tr");
var firstTdVal = row.find("td").eq(1).text();
var secondTdVal = row.find("td").find("a");
console.log('firstTdVal==>');
console.log(firstTdVal);
// window.top.location.href= '/apex/NominationsOtherTypesPage?NomId='+ firstTdVal;
window.open('/apex/NominationsOtherTypesPage?NomId='+ firstTdVal+'&NomineeId='+$(this)[0].name);

});
});

function disableLinkSelection(){
$("#ApprovedButton").addClass('adisabled');
$("#DeclineButton").addClass('adisabled');
}

function GotoDI()
        {
            window.top.location.href= '/apex/NominationsPage';
        }
  function GotoCFF()
        {
            window.top.location.href= '/apex/CFF';
        } 



function GotoRelocation()
        {
            window.top.location.href= '/apex/RelocationCaseListPage';
        }   

function GotoImmigration()
        {
            window.top.location.href= '/apex/ImmigrationFormPopUp';
        }   
function checkSelectedInfo(spanId,displayElement,selectedValues){
var result ='--None--';
if(selectedValues!=''){
$(displayElement).html(selectedValues);
var selectedList = selectedValues.split(',');
$("[id$="+spanId+"] li input").each(function( index ) {
console.log('::is checked::');
console.log($(this).is(':checked'));
console.log($(this).attr('id'));
var selectedInfo = $(this).attr('id');
console.log('selectedValues::'+selectedValues+'::selectedInfo::'+selectedInfo+'::spanId::'+spanId+'::displayElement::'+displayElement+'::is checked::'+(selectedValues.indexOf(selectedInfo)));
if(selectedList.indexOf(selectedInfo)!=-1)
{
$(this).prop("checked",true);

if(result=='--None--'){
result = selectedInfo;

}
else{
result +=','+selectedInfo;

}
}
/*else{
$(this).prop("checked",false);                        

}*/

});
}
}
var nominationTypeIdParam = 'All';
var tableId = '';
var isNewTab = false;
function showImg(){
$("#processingimg").show();
}
function showcollapsed(){
$("#myCollapse").toggle();
}

function showmodal(){
var dataInfo = myTable.rows({selected:  true}).data();
if(dataInfo.length>0)
$("#filter").modal('show');

}

function closemodal(){

$("#filter").modal('hide');

}


function hidecollapsed(){
$("#myCollapse").hide();
}
function mutliSelecttoggle(){
console.log('showing')
$("#mutliSelectul").toggle();
}

function mutliSelecttoggleCT(){
console.log('showing')
$("#mutliSelectulCT").toggle();
}
function mutliSelecttoggleBand(){
console.log('showing')
$("#mutliSelectulBand").toggle();
}
function mutliSelecttoggleRegion(){
console.log('showing')
$("#mutliSelectulRegion").toggle();
}

function myFunction(value, index, array) {
txt = txt + value + "<br>"; 
}
var myTable;
var onload = true;

var BKSLra = {
//searchInput['Nomination_Type__c'] = request;
getAllOpenWebRequest : function(request, searchInput,callback, context){

var nomineetType = JSON.stringify(request), me = this;
Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.TITLE_Mgt_Controller_Serverside.getAllNominationsInfo}',searchInput, 
function(result, event){ me.processResult(result, event, callback, context); }, {escape: false}
);
},

processResult : function(result, event, callback, context){
var ret = {success : false};

if(event.status == true){
ret = JSON.parse(result, function (key, value) {
var type;
if (value && typeof value === 'object') {
type = value.type;
if (typeof type === 'string' && typeof window[type] === 'function') {
return new (window[type])(value);
}
}
return value;
});
}
callback.call(context, ret, event);
}
};

var oTable;

// TO LOCK KEYBOARD TAB FUNCTIONALITY 
$(document).keydown(function(objEvent) {
if (objEvent.keyCode == 9) {  //tab pressed
objEvent.preventDefault(); // stops its action
}
})


function getWebLeads(nominationTypeId, searchObjecct,isonload) {
nominationTypeIdParam = nominationTypeId;
$("#processingimg").show();





if({!checkColumns} && ({!isDueDiligencer} == false)){ 

tableId = "#All";
$("#AllNoneAdmin").hide();
}
else{

tableId = "#AllNoneAdmin";
$("#All").hide();
}


console.log('nominationTypeId==>');
console.log(nominationTypeId);
console.log('searchObjecct==>');
console.log(searchObjecct);


$("#paginationbtns").html('');
$("#resultsinfo").html('');
$("#showinfo").html('');


$("ul#ultabls>li").each(function(index) {
if ($(this).text() == nominationTypeId) {
console.log('activeTab==>');
$(this).addClass('activeTab');
$(this).removeClass('inactiveTab');
} else {
console.log('in activeTab==>');
$(this).addClass('inactiveTab');
$(this).removeClass('activeTab');
}


});



console.log("test heade");
$(tableId+' thead tr').clone(true).appendTo( tableId+' thead' );
$(tableId+' thead tr:eq(1) th').each( function (i) {
var title = $(this).text();
if(i!=0){
$(this).html( '<label for="title" id="foo_label"> Test</label><input  value="" class="search_events" type="text" placeholder="Search '+title+'" style="font-weight:100;font-family:connections;font-size:13px;width:191px;cursor:pointer;"/>' )
$( 'input', this ).on( 'keyup change', function () {
if ( myTable.column(i).search() !== this.value ) {
myTable
.column(i)
.search( this.value )
.draw();

myTable.rows(  ).deselect(); 

}
} );
}
else{
$(this).html('');
}
} );

$('input.search_events').val('');

var columnDefs = [{
title: "Nomination ID"
}, {
title: "Nominee Name"
}];
var columnsInfo =[];

if({!checkColumns} && ({!isDueDiligencer} == false)){ 
columnsInfo= [{ "data": "Field1"},                        
{"data": "Nomination ID",
"render": function(nominationNumber){
nominationNumber = '<a href="#reviewpg" class="review" style="color:#012169;"><span>'+nominationNumber+'</span></a>';
return  nominationNumber;
}
},
{ "data": "Nominee Name"},
{ "data": "HR Review"},
{ "data": "Proposed Title"},
{ "data": "Current Corporate Title"},
{ "data": "Time in Current Corporate Title"},
{ "data": "Nomination Status"},
{ "data": "Approver Name"},
{ "data": "Rejection Reason"},
{ "data": "Track Status",
"render": function(nomTrackStatus){
nomTrackStatus = '<a href="#nomTracRef" class="track" aria-label="first link">'+'<span  id="NomTrackStatus"><img src="{!$Resource.trackstatus_Icon}" style="margin-bottom:7px;outline:none;height:20px;width:20px;" ></img></span></a>';
return  nomTrackStatus;
}
},
{ "data": "Job Title"},
{ "data": "Job Band"},
{ "data": "History",
"render": function(nomHistory){
nomHistory = '<a href="#nomHistRef" class="history" aria-label="first link">'+'<i class="fa fa-file-o" style="font-size:20px;" ></i><span  id="NomHistory"><i class="fa fa-history" style="font-size:14px" ></i></span></a>';
return  nomHistory;
}
},

{ "data": "Line of Business"},
{ "data": "Sub Line of Business"},
{ "data": "Division"}, 
{ "data": "Work Country"},
{ "data": "Region"},
{ "data": "Most Recent YE Rating (What)"},{ "data": "Most Recent YE Rating (How)"},{ "data": "Assignment Status"} ,{ "data": "Nominated By"},{ "data": "Nomination Date"}]; 
}
else{
columnsInfo= [ { "data": "Field1"},                       
{"data": "Nomination ID",
"render": function(nominationNumber){
nominationNumber = '<a href="#reviewpg" class="review" style="color:#012169;"><span>'+nominationNumber+'</span></a>';
return  nominationNumber;
}
},
{ "data": "Nominee Name"},
{ "data": "Proposed Title"},
{ "data": "Current Corporate Title"},
{ "data": "Time in Current Corporate Title"},
{ "data": "Nomination Status"},
{ "data": "Approver Name"},
{ "data": "Track Status",
"render": function(nomTrackStatus){
nomTrackStatus = '<a href="#nomTracRef" class="track" aria-label="first link">'+'<span  id="NomTrackStatus"><img src="{!$Resource.trackstatus_Icon}" style="margin-bottom:7px;outline:none;height:20px;width:20px;" ></img></span></a>';
return  nomTrackStatus;
}
},
{ "data": "Job Title"},
{ "data": "History",
"render": function(nomHistory){
nomHistory = '<a href="#nomHistRef" class="history" aria-label="first link">'+'<i class="fa fa-file-o" style="font-size:20px;" ></i><span  id="NomHistory"><i class="fa fa-history" style="font-size:14px" ></i></span></a>';
return  nomHistory;
}
},

{ "data": "Line of Business"},
{ "data": "Sub Line of Business"},
{ "data": "Division"},
{ "data": "Work Country"},
{ "data": "Region"},
{ "data": "Nominated By"},
{ "data": "Nomination Date"}]; 


}

var data = [];

BKSLra.getAllOpenWebRequest(nominationTypeId,searchObjecct, function(result, event) {

console.log('result==>');
console.log(result);



if (result.length > 1 && result.length == 1 && result[0].Id != undefined) {
console.log('no redddd==>');
$(".dataTables_scrollBody table tbody td.sorting_1").html('No matching records found');
$(".dataTables_scrollBody table tbody td.sorting_1").attr('colspan', 10);
$(".dataTables_scrollBody table tbody td.sorting_1").css("text-align", "left");

}
if ($(tableId+"_length").text().includes("Results") == false)
$(tableId+"_length").prepend($(tableId+"_info").text().substr($(tableId+"_info").text().lastIndexOf('of') + 3).replace('entries', 'Results') + '&nbsp;&nbsp;');
else {
$("#totalResults").html($(tableId+"_info").text().substr($(tableId+"_info").text().lastIndexOf('of') + 3).replace('entries', 'Results'));
}


if (result.length > 0) {

for (var j = 0; j < result.length; j++) {
var req = '',
name = '',
nominationNumber = '',
Nominee = '',
hrReview = '',
proposedTitle = '',
currentCorporateTitle= '',
timeInTitle ='',
status = '',
approverName='',
rejectionReason ='',
jobTitle = '',
jobBand = '',
lob = '',
sublob = '',
division = '',
country = '',
region='',
whatRating='',
howRating='',
assignmentStatus='',
nominatedBy = '',
createdDate = '';
var recordInput= result[j];
recordInfo  = recordInput;

console.log('recordInput==>');
console.log(recordInput);
if (recordInput.Id)
req = recordInput.Id;
if (recordInput.Nomination_Number__c)
nominationNumber = recordInput.Nomination_Number__c;

if (recordInput.Nominee_FN__c) {
Nominee= recordInput.Nominee_FN__c.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;");
}

if (recordInput.Flagged_for_HR_Review__c != undefined) {
hrReview = recordInput.Flagged_for_HR_Review__c;
}

if (recordInput.Proposed_Title__c != undefined) {
proposedTitle = recordInput.Proposed_Title__c;
}

if (recordInput.Corporate_Title__c != undefined) {
currentCorporateTitle = recordInput.Corporate_Title__c;
}

if (recordInput.Time_in_Current_Corporate_Title__c != undefined) {
timeInTitle = recordInput.Time_in_Current_Corporate_Title__c;
}
if (recordInput.Nomination_Status__c)
status = recordInput.Nomination_Status__c;


if (recordInput.Approver_Name__c != undefined) {
approverName = recordInput.Approver_Name__c;
}
if (recordInput.Rejection_Reason__c)
rejectionReason = recordInput.Rejection_Reason__c;


if (recordInput.Job_Name__c)
jobTitle = recordInput.Job_Name__c;

if (recordInput.Band__c != undefined) {
jobBand = recordInput.Band__c;
}

var nomHistory='<a href="#nomHistRef" class="history" aria-label="first link">'+'<i class="fa fa-file-o" style="font-size:20px;outline:none;" ></i><span  id="NomHistory"><i class="fa fa-history" style="font-size:14px" ></i></span></a>';

var nomTrackStatus='<a href="#nomTracRef" class="track" aria-label="first link">'+'<span  id="NomTrackStatus"><img src="{!$Resource.trackstatus_Icon}" style="margin-bottom:7px;margin-left:20px;height:20px;weight:20px;" ></img></span></a>';

if (recordInput.LOB__c)
lob = recordInput.LOB__c.replace(/>/g, "&gt;").replace(/</g, "&lt;");

if (recordInput.SUB_LOB__c)
sublob = recordInput.SUB_LOB__c.replace(/>/g, "&gt;").replace(/</g, "&lt;");

if (recordInput.Division__c)
division = recordInput.Division__c.replace(/>/g, "&gt;").replace(/</g, "&lt;");

if (recordInput.Primary_Work_Country__c)
country = recordInput.Primary_Work_Country__c.replace(/>/g, "&gt;").replace(/</g, "&lt;");

if (recordInput.Region__c)
region = recordInput.Region__c.replace(/>/g, "&gt;").replace(/</g, "&lt;");

if (recordInput.Most_Recent_YE_Rating_What__c)
whatRating = recordInput.Most_Recent_YE_Rating_What__c.replace(/>/g, "&gt;").replace(/</g, "&lt;");


if (recordInput.Most_Recent_YE_Rating_How__c)
howRating = recordInput.Most_Recent_YE_Rating_How__c.replace(/>/g, "&gt;").replace(/</g, "&lt;");

if (recordInput.Assignment_Status__c)
assignmentStatus = recordInput.Assignment_Status__c;

if (recordInput.Created_By__c!= undefined) {
nominatedBy = recordInput.Created_By__c;
}

    if (recordInput.Created_Date__c)
createdDate = recordInput.Created_Date__c;

//if (currentTheme == 'Theme3') { //if Classic view
action = '<a href="../' + recordInput.Id + '">' + recordInput.Name + '</a>';
// } 
//else { //For Lightning view
//  action = '<a href="/one/one.app#/alohaRedirect/' + recordInput.Id + '">' + recordInput.Name + '</a>';
//}







if({!checkColumns} && ({!isDueDiligencer} == false)){ 

data.push({"Field1":"","Nomination ID": nominationNumber, "Nominee Name": Nominee ,"HR Review":hrReview,"Proposed Title":proposedTitle, "Current Corporate Title":currentCorporateTitle, "Time in Current Corporate Title":timeInTitle, "Nomination Status":status, "Approver Name":approverName, "Rejection Reason":rejectionReason, "Track Status":nomTrackStatus, "Job Title":jobTitle, "Job Band":jobBand,"History":nomHistory, "Line of Business":lob, "Sub Line of Business":sublob, "Division":division, "Work Country":country,"Region":region, "Most Recent YE Rating (What)":whatRating,  "Most Recent YE Rating (How)":howRating, "Assignment Status":assignmentStatus, "Nominated By":nominatedBy, "Nomination Date":createdDate ,"RecordId":req});
}
else{

data.push({"Field1":"", "Nomination ID": nominationNumber, "Nominee Name": Nominee ,"Proposed Title":proposedTitle, "Current Corporate Title":currentCorporateTitle, "Time in Current Corporate Title":timeInTitle, "Nomination Status":status, "Approver Name":approverName, "Track Status":nomTrackStatus, "Job Title":jobTitle,"History":nomHistory, "Line of Business":lob, "Sub Line of Business":sublob, "Division":division, "Work Country":country, "Region":region, "Nominated By":nominatedBy, "Nomination Date":createdDate ,"RecordId":req});

}


if(j>5000){
	break;
}


}
} 

console.log('req==>');
console.log(nominationTypeId);
console.log(columnsInfo);
console.log(data);
var tableJson = {
"order": [],
scrollY:        "330px",
scrollX:        true,
orderCellsTop: true,
"columnDefs": [ { className: 'select-checkbox',
targets:   0,                
"orderable": false,
}],  select: {
style: 'multi',
},  
language: {
paginate: {
next: '&#9658;', // or '→'
previous: '&#9664;' // or '←' 
}
},

columns:columnsInfo,
data: data,
dom: 'lBfrtip', // Needs button container
responsive: true,
altEditor: true, // Enable altEditor
};
var currentPageNumberInfo = parseInt({!currentPageNumberStr});
if(currentPageNumberInfo>0&&isonload)
tableJson.displayStart =currentPageNumberInfo;


if (!myTable) {



myTable = $(tableId).DataTable(tableJson);
$(window).bind('resize', function() {
//myTable.fnAdjustColumnSizing();
//myTable.draw();
});
//myTable.draw();
} else {
myTable.destroy();
myTable.rows(data);
myTable = $(tableId).DataTable(tableJson);
//myTable.draw();
}
disableLinkSelection();

$(document).bind('click', function (e) {
var $clicked = $(e.target);
if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
});



if (onload) {

//$("#All_filter").append($("#filterpanel").html());
//$("#All_filter").css("direction", "rtl");
$(tableId+"_filter>label").css("direction", "ltr");


onload = false;
}
$('#Admin-select-all').on('click', function(){
if ($(this).is( ":checked" )) {
//myTable.rows(  ).select();        
myTable.rows( { search: 'applied' } ).select();
} else {
myTable.rows(  ).deselect(); 
//myTable.rows( { search: 'applied' } ).deselect();
}
var dataInfo = myTable.rows({selected:  true}).data();
if(dataInfo.length>0){
$("#ApprovedButton").removeClass('adisabled');
$("#DeclineButton").removeClass('adisabled');
}
})


myTable.on( 'select', function ( e, dt, type, indexes ) {
console.log('type select==>');
console.log(type);
var dataInfo = myTable.rows({selected:  true}).data();
console.log(dataInfo.length);
console.log('dataInfo.length==>');
if(dataInfo.length==0){
$("#ApprovedButton").addClass('adisabled');
$("#DeclineButton").addClass('adisabled');
console.log('disabled>');
}
else{
console.log('enabled>');
$("#ApprovedButton").removeClass('adisabled');
$("#DeclineButton").removeClass('adisabled');
}

} );
myTable.on( 'deselect', function ( e, dt, type, indexes ) {
console.log('type deselect==>');
console.log(type);
var dataInfo = myTable.rows({selected:  true}).data();
console.log(dataInfo.length);
console.log('dataInfo.length==>');
if($('#Admin-select-all').is( ":checked" )){
clearSelectAll();
}
if(dataInfo.length==0){
$("#ApprovedButton").addClass('adisabled');
$("#DeclineButton").addClass('adisabled');
console.log('disabled>');
}
else{
console.log('enabled>');
$("#ApprovedButton").removeClass('adisabled');
$("#DeclineButton").removeClass('adisabled');
}

} );

$(tableId+"_filter label").hide();

$(tableId+"_filter").append($(".dataTables_paginate"));

//$("#All_wrapper").css({"overflow":"scroll","height": "500px"});

if (result.length > 1 && result.length == 1 && result[0].Id != undefined) {
console.log('no redddd==>');
$(".dataTables_scrollBody table tbody td.sorting_1").html('No matching records found');
$(".dataTables_scrollBody table tbody td.sorting_1").attr('colspan', 10);
$(".dataTables_scrollBody table tbody td.sorting_1").css("text-align", "left");

}
//$("#All_length").prepend(All_info+' Results &nbsp;');
if ($(tableId+"_length").text().includes("Results") == false)
$(tableId+"_length").prepend($(tableId+"_info").text().substr($(tableId+"_info").text().lastIndexOf('of') + 3).replace('entries', 'Results') + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
else {
$("#totalResults").html($(tableId+"_info").text().substr($(tableId+"_info").text().lastIndexOf('of') + 3).replace('entries', 'Results'));
}


$("#paginationbtns").append($(tableId+"_filter"));
$("#resultsinfo").append($(tableId+"_length"));
$("#showinfo").append($(tableId+"_info"));

$("#processingimg").hide(); 
});

}
function checkboxInputs(){
var lob = '{!$CurrentPage.parameters.LOB}';
var sublob = '{!$CurrentPage.parameters.subLOB}';
var Region = '{!$CurrentPage.parameters.Region}';
var NominationStatus = '{!$CurrentPage.parameters.NominationStatus}';

var ProposedTitle = '{!$CurrentPage.parameters.ProposedTitle}';
var Band = '{!$CurrentPage.parameters.Band}';
var Division = '{!$CurrentPage.parameters.Division}';

var Assignee_Filter = '{!$CurrentPage.parameters.Assignee_Filter}';
var Nomination_Type = '{!$CurrentPage.parameters.Nomination_Type}';


checkSelectedInfo('mutliSelectulCT','#ctInfoSelect',ProposedTitle);

checkSelectedInfo('mutliSelectulBand','#bandInfoSelect',Band);
checkSelectedInfo('mutliSelectulRegion','#regionInfoSelect',Region);
checkSelectedInfo('mutliSelectul','#statusInfoSelect',NominationStatus);
}
</script>

<apex:outputpanel id="scriptPanel">

<script>

function hideunncessary(){
console.log('{!isAdmin}==>');
console.log({!isAdmin});
if({!isAdmin}==false){
var lobs = [];

var lobinfo = {!relatedLobs};
for(var i =0;i<lobinfo.length;i++){
lobs.push(lobinfo[i]);
}
console.log(lobinfo);
$("[id$='LOBInput'] option").each(function( index ) {
if(lobs.indexOf($(this).text())==-1){
console.log($(this).text());
if($(this).text()!='--None--'){

$(this).hide();
}
}
});

var regions = []

var regionsInfo = {!relatedRegions};
for(var i =0;i<regionsInfo.length;i++){
regions.push(regionsInfo[i]);
}

var statuses = []

var statusesInfo = {!relatedNominationStatuses};
for(var i =0;i<statusesInfo.length;i++){
statuses.push(statusesInfo[i]);
}

$("[id$='statusInput'] option").each(function( index ) {
if(statuses.indexOf($(this).text())==-1){

if($(this).text()!='--None--'){

$(this).hide();
}
}
});


}                    
}
function clearSelectAll(){

$("#Admin-select-all").prop("checked",false);

}

function hideunncessarySublobs(){
if({!isAdmin}==false){
setTimeout(function(){ 
var sublobsInfo = {!relatedSubLobs};
var sublobs = [];

for(var i =0;i<sublobsInfo.length;i++){
sublobs.push(sublobsInfo[i]);
}
console.log('sublobs==>');
console.log(sublobs);
$("[id$='SubLOBInputinfo'] option").each(function( index ) {
console.log( $(this).text());
if(sublobs.indexOf($(this).text())==-1){
console.log('sublib==>');
console.log( $(this).text());
if($(this).text()!='--None--'){
$(this).hide();
}

}

});


}, 3000);

}
}
function setSelectednfo(spanId,displayElement){
var result ='--None--';
$("[id$="+spanId+"] li input").each(function( index ) {
console.log($(this).is(':checked'));
console.log($(this).attr('id'));
if($(this).is(':checked')){
if(result=='--None--'){
result =$(this).attr('id');

}
else{

result +=','+$(this).attr('id');
}
}

});
console.log('result=='+result);
console.log('statusInfoSelect==>'+$("#statusInfoSelect").html());
console.log('regionInfoSelect==>'+$("#regionInfoSelect").html());
console.log('ctInfoSelect==>'+$("#ctInfoSelect").html());
$(displayElement).html(result);
/*if(spanId=='mutliSelectul'){
console.log('status==>');
$("#statusInfoSelect").html(result);
}
else if(spanId=='mutliSelectulCT'){
$("#ctInfoSelect").html(result);
}
else if(spanId=='mutliSelectulBand'){
$("#bandInfoSelect").html(result);
}
else { 
console.log('regionInfoSelect==>');
$("#regionInfoSelect").html(result);
}*/
}

function formRegions(){
var regionsInfo = '';
var statusInfo = '';
var ctsInfo = '';
var brandsInfo   = '';
console.log('formRegions==>');
console.log($("[id$='mutliSelect'] input"));

$("#Admin-select-all").prop("checked",false);
if($("#regionInfoSelect").text()!='--None--')
regionsInfo = $("#regionInfoSelect").text();
if($("#ctInfoSelect").text()!='--None--')
ctsInfo = $("#ctInfoSelect").text();
if($("#bandInfoSelect").text()!='--None--')
brandsInfo = $("#bandInfoSelect").text();

if($("#statusInfoSelect").text()!='--None--')
statusInfo = $("#statusInfoSelect").text();

formRegionstoApex(regionsInfo,ctsInfo,brandsInfo,statusInfo);
//formRegionstoApex($("#regionInfoSelect").text(),$("#ctInfoSelect").text(),$("#bandInfoSelect").text(),$("#statusInfoSelect").text());
}

function clearDeclinedInput(){
$("[id$='declinedInput']").val('');
}
</script>
</apex:outputpanel>
<apex:outputpanel id="onloadscriptPanelpther">

<script>
$(document).ready(function() {
$(tableId).on("click", "a.review", function(e){
var row = $(this).closest("tr");
var firstTdVal = row.find("td").eq(1).text();
console.log('firstTdVal==>');
console.log(firstTdVal);
console.log('nominationTypeIdParam==>');

console.log(nominationTypeIdParam);
window.open('/apex/TITLEReviewPage?TitleName='+ firstTdVal);
var pagenum = parseInt($("#All_info").text().substr(7,$("#All_info").text().indexOf('to')-1).split('to')[0].trim())-1;
var lobInfo =$("[id$='LobFilter']").children("option:selected").val()!='--None--'?$("[id$='LobFilter']").children("option:selected").val():'';
var sublob =$("[id$='dSubLOB']").children("option:selected").val()!='--None--'?$("[id$='dSubLOB']").children("option:selected").val():'';
var divisionSelected =$("[id$='division']").children("option:selected").val()!='--None--'?$("[id$='division']").children("option:selected").val():'';
var selectedTitle =$("#ctInfoSelect").html()!='--None--'?$("#ctInfoSelect").html():'';
var selectedBand =$("#bandInfoSelect").html()!='--None--'?$("#bandInfoSelect").html():'';
var selectedRegion =$("#regionInfoSelect").html()!='--None--'?$("#regionInfoSelect").html():'';
var selectedStatus =$("#statusInfoSelect").html()!='--None--'?$("#statusInfoSelect").html():'';
console.log('lobInfo without'+lobInfo);
 console.log(lobInfo);
lobInfo = lobInfo.replace(/\&/gi, " amp ");
sublob = sublob.replace(/\&/gi, " amp ");
divisionSelected = divisionSelected.replace(/\&/gi, " amp ");
console.log('lobInfo with'+lobInfo);

window.open('/apex/TITLEManagementPage?NomType=&pagenumber='+pagenum.toString()+'&LOB='+lobInfo+'&sublob='+sublob+'&ProposedTitle='+selectedTitle+'&Band='+selectedBand+'&Division='+divisionSelected+'&NominationStatus='+selectedStatus+'&Region='+selectedRegion+'&isReload=true','_self');
//+'&Assignee_Filter='+Assignee_Filter
isNewTab = true;
rerenderisNew();

});
});
function getSelectedData(isApprove){

var count = myTable.rows( { selected: true } ).count();
//  alert('count==>');
//  alert();
//  alert(count);
var dataInfo = myTable.rows({selected:  true}).data();
var recordIds=[]; 
if(dataInfo.length>0){      
for (var i=0; i < dataInfo.length ;i++){
console.log('dataInfo[i]==>');
console.log(dataInfo[i]);
var recordInput = dataInfo[i];
if(recordInput["Nomination Status"]!='Withdrawn' && recordInput["Nomination Status"]!='HR Batch Approved'){
if(isApprove){
recordIds.push({"Id":dataInfo[i]["RecordId"],"Nomination_Status__c":"Approved By HR"});
}
else{
var reason = $("[id$='declinedInput']").val();
recordIds.push({"Id":dataInfo[i]["RecordId"],"Nomination_Status__c":"Declined By HR","Rejection_Reason__c":reason});
}

}
}
console.log(JSON.stringify(recordIds));
console.log(JSON.stringify(recordIds));
approveRecordsJS(JSON.stringify(recordIds));
}
//if(isApprove)
/*else{
approveRecords(JSON.stringify(recordIds));
}*/
return false;

}
</script>
</apex:outputpanel>

<style>
.container {width:1300px; background-color:#fff; border-left:0px solid #f3f3f3; border-right:0px solid #f3f3f3;padding-right:0px;padding-left:0px;}

table.dataTable thead th, table.dataTable thead td {
padding: 8px 4px;
}
table.dataTable tbody th, table.dataTable tbody td {
padding: 0px 10px;

height:30px;
}

/* th, td { white-space: nowrap; } */

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {vertical-align:top;padding-top:6px;}


a.paginate_button{
padding:3px 5px;
cursor:pointer;
}

a.paginate_button.current {
border: 1px solid #92aae0;
}


.dropdown a {
color:#fff;
margin:0px;
padding:0px;
}
.dropdown dd, .dropdown dt {
margin:0px;
padding:0px;
}
.dropdown ul {
margin:0px;
padding:0px;
}
.dropdown dd {
position:relative;
margin:0px;
padding:0px;
}

.select-info {padding-left: 5px;} 

.dropdown a, .dropdown a:visited {
color:black;
text-decoration:none;
outline:none;
margin:0px;
padding:0px;
/* min-height: 30px;
border-radius: 3px; */
border: 1px solid #919191;
}
.dropdown dt a {
/* background-color:#4F6877; */

/* display:inline;
min-width:20px;
overflow: inherit; */

display:block;
overflow: hidden; 
width:100%;
margin:0px;
padding:0px;
}
.dropdown dt a span, .multiSel span {
cursor:pointer;
display:inline-block;
/*margin:0px;
padding:5px 10px;*/
padding-left:3px;
/*   padding-top:6px; */
font-weight:100;
}
.dropdown dd ul {
/* background-color: #4F6877; */
background-color:white;
/* top:1px; */
color:black;
display:none;
position:absolute;
width:100%;
list-style:none;
height: 100px;
overflow: auto;
margin:0px;
padding:0px;
border: 1px solid #919191;
line-height:0.428571;
}
.dropdown span.value {
display:none;
border-radius: 3px;
margin:0px;
padding:0px;
}

#foo_label { display: none;}

.dropdown dd ul li a {
display:block;
margin:0px;
padding:0px;
}
.dropdown dd ul li a:hover {
background-color:#fff;
margin:0px;
padding:0px;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }



.dataTable{
border: 1px solid #000;
}

.fg-button {
padding: 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
color: #337ab7 !important;

}
.min_width_info{
min-width: 1.5em;
}

#NomCount {
font-size: 11px;
font-weight: bold;
color: #780032;
/*padding: 2 2px; */
margin-left: -14px;
font-family:Connections;
} 

#NomCountW {
font-size: 11px;
font-weight: bold;
color: #780032;
/*padding: 2 2px; */
margin-left: -18px;
font-family:Connections;
} 

#NomCountI {
font-size: 11px;
font-weight: bold;
color: #780032;
/*padding: 2 2px; */
margin-left: -17px;
font-family:Connections;
}
#NomHistory {
font-size: 10px;
color: #780032;
margin-left: -15px;
} 

#NomTrackStatus {
font-size: 10px;
color: #780032;
margin-left: -15px;
} 
.dataTables_length{
padding-top:0px !important;
}
#webRequestRef {
/* width: 100% !Important;  */
width: 1300px !Important;
} 
table.display td {
padding: 11px 6px;
}
/*
.dataTables_filter {
width: 30%;
float: right;
text-align: right;
} */
.dataTables_length {
width: 70%;
float: left;
}



</style>                
<style type="text/css">

div.dataTables_scroll { clear: both; 
font-family:connections;
font-size:13px;
font-weight:400;
border: 1px solid lightgray;


}




/* .paddingRL{ padding-right: 15px; padding-left:15px;} */
/* .dataTables_filter{padding-top:5px;padding-right: 5px;} */



.activeTab {
display: inline-block;

color:#0052C2;
background-image:none;
border-style: solid;
font-size:20px;
border-width: 1px; 
text-align: center; 
font-weight:400;
border-color:rgba(211, 211, 211, 1);             
font-family:Connections; 
font-style: normal; 
width: 120px; 
height:37px;
border-radius: 5px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
box-shadow: none;
padding:3px;
border-bottom:none;
margin-right: 3px; 
z-index:108;
background-color:white;             
}  

.inactiveTab >a{
color:black !important; 

}
a.adisabled {
cursor: not-allowed !important;
opacity: .65 !important;
color: grey;
}

a.adisabled:hover { text-decoration: none; !important }
a.adisabled:focus { text-decoration: none !important; }
a.adisabled:active { text-decoration: none !important; }

.allTable .dataTables_length {padding-top: 5px;
/*   position: absolute;  */
left: 477px;}

.allTable .fg-toolbar.ui-toolbar{
padding-bottom:45px;
}


.inactiveTab { 
display: inline-block;
background-color: rgba(237, 237, 237, 1);
font-size:20px; 
color:black; 
background-image:none;    
border-style: solid; 
padding:2px 10px 2px 10px;
font-family:Connections; 
width: 120px; 
height: 35px; 
text-align: center;
border-width: 1px;
border-color: lightgrey; 
border:none;
border-radius: 5px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
box-shadow: none;
padding:3px;   
margin-right: 3px;                      
} 
div.FixedHeader_Cloned th,
div.FixedHeader_Cloned td {
background-color: white !important;
}



hr{
display: block;
margin-top: 0.5em;
margin-left: auto;
margin-right: auto;
border-width: 0px;
background-color: lightgray;
height: 1.5px;
}

@media {
.modal-body (max-height: 369px;)
}

.modal-dialog {margin: 0px auto !important}

.modal-dialog {margin: 0px auto !important}

.modal-body{
padding-right: 0px !important;
overflow-y: auto;
}

.modalstyle { 
width: 1300px;
/*height: 369px; */
background-color: rgba(255, 255,255, 1);
box-sizing: border-box;
/* border-style: solid; */
border-color: rgba(211, 211, 211, 1);
float:left;
}



label {

font-weight:100 !important;

}
</style> 
</head>    
<body>
<apex:form id="frm" styleClass="paddingRL">

<!--re add div class="container">
<div style="color:#000;font-family:connections;font-weight:300;font-size:28px;font-style:normal;padding-top:15px;height:60px;"><apex:image id="Image1" value="{!$Resource.BofALogo}" style="float:right;" alt="Bank of America Logo"/>Corporate Title Promotions
</div>

</div-->

<apex:actionfunction name="rerenderisNew" action="{!rerenderisNewtrue}" rerender="hiddenPanel" >
</apex:actionfunction> 
<apex:actionfunction name="approveRecordsJS" action="{!approveRecords}" rerender="result,filterop,btnPanel,onloadscriptPanel" oncomplete="getWebLeads('{!searchNomination.Nomination_Type__c}',{'LOB__c':'{!LOBDrDn}','SUB_LOB__c':'{!SubLOBDrDn}','Proposed_Title__c':'{!selectedcts}','Band__c':'{!selectedbands}','Division__c':'{!DivisionDrDn}','Nomination_Status__c':'{!selectedstatuses}','Region__c':'{!selectedregions}'},false);disableLinkSelection();clearSelectAll();closemodal();clearDeclinedInput();">
<apex:param name="recordIdsInfo" value="" assignTo="{!updatingRecordsJson}"/>
</apex:actionfunction>
<!--apex:outputpanel id="hiddenPanel"> updatingRecordsJson::{!updatingRecordsJson} </apex:outputpanel-->

<div class="container">
<apex:pageBlock id="pgMessages">
<apex:pageMessages ></apex:pageMessages>
</apex:pageBlock>
<table width="1300px;">
<tr>
<td width="40%">
<h2 style="font-family:Connections; font-weight:400; font-style:normal;font-size:27px;color:#E31837;">Management</h2>
</td>
<td align="right" style="padding-top:25px;font-family:connections;font-size:15px;padding-right:20px;font-weight:400px;">
<apex:outputpanel id="btnPanel">

<apex:commandLink value="Switch to D&I" style="outline:none;margin-right:150px;" styleClass="buttonStyle" onclick="GotoDI(); return false;" rendered="{!IF(CONTAINS(switchingString,'TITLE_Permission_Set'),true,false)}"/>

<apex:commandLink value="Switch to CFF" style="outline:none;margin-right:150px;" styleClass="buttonStyle" onclick="GotoCFF(); return false;" rendered="{!IF(CONTAINS(switchingString,'CF_Manager_Provider'),true,false)}"/>

<apex:commandLink value="Switch to CFF" style="outline:none;margin-right:150px;" styleClass="buttonStyle" onclick="GotoCFF(); return false;" rendered="{!IF(CONTAINS(switchingString,'CF_Admin'),true,false)}"/>

<apex:commandLink value="Switch to Immigration" style="outline:none;margin-right:150px;" styleClass="buttonStyle" onclick="GotoImmigration(); return false;" rendered="{!IF(CONTAINS(switchingString,'Immigration_Case_Manager_force_com'),true,false)}"/>

<apex:commandLink value="Switch to Relocation" style="outline:none;margin-right:150px;" styleClass="buttonStyle" onclick="GotoRelocation(); return false;" rendered="{!IF(CONTAINS(switchingString,'Relocation_Case_Manager_force_com'),true,false)}"/>

<apex:image value="{!$Resource.Approve_Icon}" style="width:21px; height:20px; margin-bottom:5px;display:{!IF(showButtons,'','none')}" alt="Approve Logo"/>
<a onclick="getSelectedData(true);" style="font-size:14px;outline:none;cursor:pointer;padding-right:30px;display:{!IF(showButtons,'','none')}" id="ApprovedButton"> Approve </a>
<apex:image value="{!$Resource.Decline_Icon}" style="width:21px; height:20px; margin-bottom:5px;display:{!IF(showButtons,'','none')}" alt="Decline Logo"/>
<a onclick="showmodal();" style="font-size:14px;outline:none;cursor:pointer;padding-right:30px;display:{!IF(showButtons,'','none')}" id="DeclineButton"> Decline</a>
<apex:image value="{!$Resource.Export_Icon}" style="width:21px; height:20px; margin-bottom:5px;" alt="Export Logo"/>
<apex:commandlink action="{!navToReportPage}" style="font-size:14px;outline:none;cursor:pointer;" value="Export" > </apex:commandlink>


</apex:outputpanel>
</td>
</tr>
</table>   

<hr/> 
<apex:actionfunction name="resetfilter" action="{!resetfilteraction}" rerender="oppanel,resultop,filterop" >
<apex:param name="fileinfo" value="" assignTo="{!filter_text}"/>
</apex:actionfunction> 



<apex:actionfunction name="refreshNominationType" action="{!refreshNominationTypeAction}" rerender="oppanel,resultop,filterop,result,nomType" ><!--check regionPanel in rerender-->

<apex:param name="nomineetTypeInfo" value="" assignTo="{!nomineetType}"/>
</apex:actionfunction>
<apex:actionfunction name="resetisAssigneed" action="{!dummy}" rerender="isAssigneeCheckedId" ><!--check regionPanel in rerender-->

<apex:param name="isAssigneeChecked" value="true" assignTo="{!isAssigneeChecked}"/>
</apex:actionfunction>
<apex:actionfunction name="rerenderop"   rerender="scriptPanel" oncomplete="hideunncessary();">
</apex:actionfunction>  


<div id="tabs" >


<table style="width:100%">
<tr >
<td id="filernpnl" width="10%;" style="font-family:connections;font-size:14px;"><apex:outputText >Filter Results</apex:outputText>
<apex:image value="{!$Resource.filterIcon}"   style="width:19px; height:16px; margin-left:10px;cursor:pointer;" onclick="showcollapsed();rerenderop();" alt="Filter Icon"/>  
</td>

<td align='right' width="70%">
<div id="resultsinfo"  style="font-weight:100;font-family:connections;font-size:14px;"> </div>
<div id="paginationbtns" style="margin-right:15px;"> </div>
</td>
</tr>
</table> 



<div class="modal fade" id="filter"  data-backdrop="static" role="dialog" style="margin-top:10px;">
<div class="modal-dialog " >

<div class="modal-content" style="width:800px;">



<div class="modal-body ModalBody" style="height:200px;overflow-y: inherit;">

<apex:outputpanel id="bulkmodal">
<h6 style="margin-left: 25px;font-family:connections;font-size:14px;"> <span style="color:#E31837;">Note:</span> Rejection Reason is required. </h6>
<table style="margin-left:50px;" >


<tr>

<th style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:25px;"><label for="LOB" style="font-weight:100;">Nomination Status  </label> </th>
<th style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:25px;padding-left:200px;"><label for="SubLOB" style="font-weight:100;">Rejection Reason </label> </th>



</tr>

<tr>
<td style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections;padding-top:10px;padding-bottom:25px;">
<apex:outputText >Declined By HR </apex:outputText>
</td>
<td style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections;padding-top:10px;padding-bottom:25px;padding-left:200px;">
<apex:inputField value="{!Nomination__c.Rejection_Reason__c}" style="width:220px;" id="declinedInput">
<apex:actionsupport event="onchange" reRender="btnSection" status="statusRing"/>
</apex:inputField>
<apex:actionstatus id="statusRing">
<div  id="processingimg" >
<div style="position: fixed; top: 20%; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: black;">
&nbsp;
</div>
<div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 30% 50%">
<img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />

</div>
</div>
</apex:actionstatus>
</td>

</tr>




</table> 

</apex:outputpanel>

</div>


<!-- Modal footer -->
<div class="modal-footer">
<apex:outputpanel id="btnSection">

<apex:commandButton Value="Save"  onclick="getSelectedData(false);" styleClass="myDataButton"  rerender="nothing" styleclass="btn btn-secondary"  style="font-family: connections; font-weight: 400; background-color: {!If(or(Nomination__c.Rejection_Reason__c=='',Nomination__c.Rejection_Reason__c==null),'grey','#012169')}; color: white;  border: none;  border-width: 0px;  width: 68px;   height: 30px;  font-size:16px;  border-top-left-radius: 0px;   border-top-right-radius: 0px;   border-bottom-left-radius: 0px;   border-bottom-right-radius: 0px;cursor:pointer;padding:3px;" disabled="{!or(Nomination__c.Rejection_Reason__c=='',Nomination__c.Rejection_Reason__c==null)}"/>

<button type="button" class="btn btn-secondary" onclick="closemodal(); return false;" style="font-family: connections; font-weight: 400; background-color: white; color:#012169;   border: 1px solid #012169;   width: 68px;   height: 30px;    border-top-left-radius: 0px;   border-top-right-radius: 0px;   border-bottom-left-radius: 0px;   border-bottom-right-radius: 0px;font-size:16px; margin-left:20px;padding:3px;cursor:pointer;padding:3px;margin-right:50px;">Cancel</button>

</apex:outputpanel>

</div>


</div>

</div>
</div>




<apex:inputhidden value="{!searchNomination.Nomination_Type__c}" id="nomType"/>
<div class="collapse" id="myCollapse"  data-backdrop="static" data-keyboard="false" style="margin-top:10px;">
<div class="modal-dialog  modalstyle" >

<div class="modal-content" style="margin-bottom:2rem">


<div class="modal-body" style="height:200px;overflow-y: inherit;">
<apex:image value="{!$Resource.filterIcon}" onclick="showcollapsed();" style="padding-bottom:5px;" alt="filter logo"/> <apex:outputText style="font-family:'Connections';font-weight:400;margin-left:10px; font-size:22px;color:#000000; font-style:normal;" value="Filters"/> 

<apex:image value="{!$Resource.cancelLogo}" onclick="showcollapsed();" style="padding-bottom:5px; float:right;padding-right:10px;cursor:pointer;" alt="Cancel logo"/>
<apex:outputpanel id="resultop">

<table width="1300px" align="center">


<tr>

<th style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:15px;"><label for="LOB" style="font-weight:100;">Line of Business  </label> </th>
<th style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:15px;"><label for="SubLOB" style="font-weight:100;">Sub line of Business </label> </th>
<th style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections;padding-top:15px;"><label style="font-weight:100;">Division</label></th>
<th style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections;padding-top:15px;"><label style="font-weight:100;">Proposed Title</label></th>
<th style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections;padding-top:15px;"><label style="font-weight:100;">Band</label></th>
<th style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:15px;"><label style="font-weight:100;">Region</label></th>
<th style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections;padding-top:15px;"><label style="font-weight:100;">Nomination Status</label></th>


</tr>

<tr>
<td style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections;padding-top:5px;padding-bottom:25px;">

<label style="font-weight:100;"> 
<apex:selectList value="{!LOBDrDn}" multiselect="false" size="1" style="width:150px;cursor:pointer;height:20px;" id="LobFilter">
<apex:selectOptions value="{!ListLOBVal}" />
<apex:actionsupport event="onchange" action="{!dummy}" reRender="result,dSubLOB"/>
</apex:selectList>
</label>
</td>
<td style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections;padding-top:5px;padding-bottom:25px;">
<label style="font-weight:100;"> 
<apex:selectList value="{!SubLOBDrDn}" multiselect="false" size="1" id="dSubLOB" style="width:160px;cursor:pointer;height:20px;">
<apex:selectOptions value="{!ListSUBLOBVal}" />
<apex:actionsupport event="onchange" action="{!dummy}" reRender="result,division"/>
</apex:selectList>
</label>
</td>
<td style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:5px;padding-bottom:25px;"> 
<label style="font-weight:100;"> 
<apex:selectList value="{!DivisionDrDn}" multiselect="false" size="1" id="division" style="width:160px;cursor:pointer;height:20px;">
<apex:selectOptions value="{!ListDivisionVal}" />
<apex:actionsupport event="onchange" action="{!dummy}" reRender="result"/>
</apex:selectList>
</label>
</td>
<td style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:5px;" id="cptitleInput">
<div style="width:160px;padding-bottom:11px;">
<dl class="dropdown" >
<dt onclick="mutliSelecttoggleCT();" style="height:20px;">
<a >
<span class="hida"  id="ctInfoSelect" >--None--</span>
</a>
</dt>
<dd>
<div class="mutliSelect" >
<ul style="height: auto;" id="mutliSelectulCT">   
<apex:repeat value="{!corporateTitleList}" var="ctList">
<li>
<label for="{!ctList}" style="font-weight:100;">                 
<input id="{!ctList}" value="{!ctList}" type="checkbox" style="height:15px;width:22px;vertical-align:text-bottom;cursor:pointer;" onclick="setSelectednfo('mutliSelectulCT','#ctInfoSelect');"/>{!corporateTitleList[ctList]}</label></li>
</apex:repeat>
</ul>
</div>
</dd>
</dl>
</div>

</td>
<td style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:5px; " >
<div style="width:160px;padding-bottom:11px;">
<dl class="dropdown" >
<dt onclick="mutliSelecttoggleBand();" style="height:20px;">
<a >
<span class="hida"  id="bandInfoSelect">--None--</span>    

</a>
</dt>




<dd>
<div class="mutliSelect" >
<ul style="height:150px;" id="mutliSelectulBand">   
<apex:repeat value="{!Bands}" var="band">

<li>
<label for="{!band}" style="font-weight:100;">                 
<input id="{!band}"  type="checkbox" style="height:15px;width:22px;vertical-align:text-bottom;cursor:pointer;" onclick="setSelectednfo('mutliSelectulBand','#bandInfoSelect');"/>{!band}</label></li>
</apex:repeat>
</ul>

</div>
</dd>
</dl>
</div>
</td>
<td style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:5px; justify-content: space-around;" id="regionInput">
<div style="width:140px;padding-bottom:11px;">
<dl class="dropdown" >
<dt onclick="mutliSelecttoggleRegion();" style="height:20px;">
<a >
<span class="hida"  id="regionInfoSelect">--None--</span>    
</a>
</dt>




<dd>
<div class="mutliSelect" >
<ul style="height: auto;" id="mutliSelectulRegion">   
<apex:repeat value="{!RegionsInfo}" var="region">

<li>
<label for="{!region}" style="font-weight:100;">                 
<input id="{!region}"  type="checkbox" style="height:15px;width:22px;vertical-align:text-bottom;cursor:pointer;" onclick="setSelectednfo('mutliSelectulRegion','#regionInfoSelect');"/>{!region}</label></li>
</apex:repeat>
</ul>

</div>
</dd>
</dl>
</div>
</td>
<td style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:5px;" id="statusInput">

<div style="width:205px;padding-bottom:11px;">
<dl class="dropdown" >
<dt onclick="mutliSelecttoggle();" style="height:20px;">
<a >
<span class="hida" id="statusInfoSelect" >--None--</span>    

</a>
</dt>
<dd>
<div class="mutliSelect" >
<ul style="height: 170px;" id="mutliSelectul">   
<apex:repeat value="{!statusList}" var="status">

<li>
<label for="{!status}" style="font-weight:100;">                 
<input id="{!status}" value="{!status}" type="checkbox" style="height:15px;width:22px;vertical-align:text-bottom;cursor:pointer;" onclick="setSelectednfo('mutliSelectul','#statusInfoSelect');"/>{!statusList[status]}</label></li>
</apex:repeat>
</ul>

</div>
</dd>
</dl>
</div>

</td>
</tr>




</table> 

</apex:outputpanel>
<apex:outputpanel id="regionPanel">
<apex:actionfunction name="assignSelectInput" action="{!assignSelectInputAction}" rerender="btnPanel" oncomplete="disableLinkSelection();" />
<apex:actionfunction name="checkOnload" action="{!assignSelectInputAction}" rerender="nothing" >
<apex:param name="isOnLoad" value="" assignTo="{!isOnLoad}"/>
</apex:actionfunction>

<apex:actionfunction name="refreshoutput" action="{!dummy}" rerender="result" oncomplete="hideunncessarySublobs();hideunncessary();"/>

<apex:actionfunction name="onloadParameters" action="{!dummy}" rerender="result,filterop,btnPanel,onloadscriptPanel,resultop" oncomplete="checkboxInputs();disableLinkSelection();">
<apex:param name="lob" value="" assignTo="{!LOBDrDn}"/>
<apex:param name="subLOB" value="" assignTo="{!SubLOBDrDn}"/>
<apex:param name="region" value="" assignTo="{!selectedregions}"/>
<apex:param name="statusInfo" value="" assignTo="{!selectedstatuses}"/>
<apex:param name="selectedctsInfo" value="" assignTo="{!selectedcts}"/>
<apex:param name="divisionsInfo" value="" assignTo="{!DivisionDrDn}"/>
<apex:param name="bandsInfo" value="" assignTo="{!selectedbands}"/>
<apex:param name="isFilter" value="true" assignTo="{!isFilter}"/>

</apex:actionfunction>


<apex:actionfunction name="formRegionstoApex" action="{!dummy}" rerender="result,filterop,btnPanel,onloadscriptPanel" oncomplete="getWebLeads('{!searchNomination.Nomination_Type__c}',{'LOB__c':'{!LOBDrDn}','SUB_LOB__c':'{!SubLOBDrDn}','Proposed_Title__c':'{!selectedcts}','Band__c':'{!selectedbands}','Division__c':'{!DivisionDrDn}','Nomination_Status__c':'{!selectedstatuses}','Region__c':'{!selectedregions}','Assignee_Filter__c':{!isAssigneeChecked},'Nomination_Type__c':'{!searchNomination.Nomination_Type__c}'},false);assignSelectInput();disableLinkSelection();">
<apex:param name="regions" value="" assignTo="{!selectedregions}"/>
<apex:param name="ctInfo" value="" assignTo="{!selectedcts}"/>
<apex:param name="brandsInfo" value="" assignTo="{!selectedbands}"/>
<apex:param name="statusInfo" value="" assignTo="{!selectedstatuses}"/>

<apex:param name="isFilter" value="true" assignTo="{!isFilter}"/>
</apex:actionfunction>

<apex:actionfunction name="formStatusInput" action="{!dummy}" rerender="result" >

<apex:param name="stauses" value="" assignTo="{!previewSelectedstatuses}"/>
<apex:param name="isFilter" value="false" assignTo="{!isFilter}"/>

</apex:actionfunction>
</apex:outputpanel>
</div>


<!-- Modal footer -->
<div class="modal-footer">
<apex:outputpanel id="result">



<apex:commandButton Value="Apply" styleClass="myDataButton" onclick="formRegions();showcollapsed();disableLinkSelection();"  rerender="nothing" styleclass="btn btn-secondary"  style="font-family: connections; font-weight: 400; background-color: #012169; color: white;  border: none;  border-width: 0px;  width: 68px;   height: 30px;  font-size:16px;  border-top-left-radius: 0px;   border-top-right-radius: 0px;   border-bottom-left-radius: 0px;   border-bottom-right-radius: 0px;cursor:pointer;padding:3px;"  />
<script>
function resetfilterCancel(){
console.log($("[id$='filterTextId']").html());
if($("[id$='filterTextId']").html()==''){
resetfilter();

}
}
</script>
<button type="button" class="btn btn-secondary" onclick="showcollapsed();resetfilterCancel();disableLinkSelection();"  style="font-family: connections; font-weight: 400; background-color: white; color:#012169;   border: 1px solid #012169;   width: 68px;   height: 30px;    border-top-left-radius: 0px;   border-top-right-radius: 0px;   border-bottom-left-radius: 0px;   border-bottom-right-radius: 0px;font-size:16px; margin-left:20px;padding:3px;cursor:pointer;padding:3px;margin-right:50px;">Cancel</button>

</apex:outputpanel>

</div>


</div>

</div>
</div> 



<apex:outputpanel id="filterop" style="font-family:connections;font-size:14px;padding:15px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;margin-left:50px;"><div id="filterTextId" style="display:inline;">{!filter_text}</div><div style="display:{!IF(filter_text!='','inline','none')}; margin-left:25px;"> 
<apex:commandlink onclick="checkOnload(false);getWebLeads('{!searchNomination.Nomination_Type__c}',{'Assignee_Filter__c':{!isAssigneeChecked},'Status__c':'Recommended Winner'},false);clearSelectAll();resetfilter();" reRender="nothing">Remove filters</apex:commandlink></div> </apex:outputpanel> 
<div  id="processingimg" >
<div style="position: fixed; top: 20%; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: black;">
&nbsp;
</div>
<div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 30% 50%">
<img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />

</div>
</div>


<table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="All" >
<thead class="Admin">
<tr >
<th style="width:1%"><input type="checkbox" name="id[]" id="Admin-select-all" style="border: 1px solid black;border-radius: 3px;"/></th>
<th>Nomination ID</th>
<th>Nominee Name</th>
<th>HR Review</th>
<th>Proposed Title </th>
<th>Current Corporate Title</th>
<th>Time in Current Corporate Title</th>
<th>Nomination Status </th>
<th>Approver Name </th>
<th>Rejection Reason </th>
<th>Track Status </th>
<th>Job Title </th>
<th>Job Band</th>
<th>History</th>
<th>Line of Business </th>
<th>Sub Line of Business </th>
<th>Division </th>
<th>Work Country </th>
<th>Region </th>
<th>Most Recent YE Rating (What)</th>
<th>Most Recent YE Rating (How)</th>
<th>Assignment Status </th>
<th>Nominated By </th>
<th>Nomination Date </th>
</tr>

</thead>


</table>

<table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="AllNoneAdmin" >
<thead class="Admin">
<tr >
<th style="width:1%"><input type="checkbox" name="id[]" id="Admin-select-all" style="border: 1px solid black;border-radius: 3px;"/></th>
<th>Nomination ID</th>
<th>Nominee Name</th>
<th>Proposed Title </th>
<th>Current Corporate Title</th>
<th>Time in Current Corporate Title</th>
<th>Nomination Status </th>
<th>Approver Name </th>
<th>Track Status </th>
<th>Job Title </th>
<th>History</th>
<th>Line of Business </th>
<th>Sub Line of Business </th>
<th>Division </th>
<th>Work Country </th>
<th>Region </th>
<th>Nominated By </th>
<th>Nomination Date </th>

</tr>

</thead>


</table>

<div id="showinfo" style="padding-top:10px;padding-left:2px;font-family:connections;font-size:14px;"></div>

</div> 

<div style="height:10px;"></div>
<footer>
<div class="row" style="background-color:#012169;color:white;margin-right:0px;margin-left:0px;">

<div class="col-lg-11">
<!--re add p style="margin: 20px 0px;font-size:14px;font-family:connections;margin-left: 20px;">Bank of America N.A. Member FDIC &copy; 2019 Bank of America Corporation. All rights reserved. </p--></div>
</div>
</footer> 
<div style="height:10px;"></div>
</div>



</apex:form>

</body>
</html>
</apex:page>