<apex:page >

<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>Vertical Stepper</title>
<style type="text/css">
@font-face {font-family: connectionsregular; src: url(Connections.woff);}
body{font-family: connectionsregular;}
    ul.vstepper {
        list-style-type: none;
    }
    ul.vstepper li {
        padding: 0px;
    }
    ul.vstepper li {
        height: 93px;
        padding-left: 50px; /* To sift text off the background-image */
        color: #000;
        background: url("images/stepper-image.png") no-repeat; /* As all link share the same background-image */
    }
    ul.vstepper li h2{
    padding:5px 0px 2px 0px;
    margin:0px;
    font-size:16px;
    color:#333;
    }
    ul.vstepper li p{
    margin:0px;
    padding:0px;
    line-height:18px;
    }
    ul.vstepper li p.date{
    margin:0px;
    padding:0px;
    font-size:14px;
    line-height:18px;
    color:#646464;
    }
    ul.vstepper li.pending {
        background-position: 0 0;
    }
    ul.vstepper li.approved {
        background-position: 0 -93px;
    }
    ul.vstepper li.declined {
        background-position: 0 -186px;
    }
    ul.vstepper li.locked {
        background-position: 0 -279px;
    }
    ul.vstepper li.last-pending {
        background-position: 0 -372px;
    }
    ul.vstepper li.last-approved {
        background-position: 0 -465px;
    }
    ul.vstepper li.last-declined {
        background-position: 0 -558px;
    }
    ul.vstepper li.last-locked {
        background-position: 0 -651px;
    }
    ul.vstepper li.approved h2, ul.vstepper li.last-approved h2{
        color:#000000;
    }
    ul.vstepper li.pending h2, ul.vstepper li.last-pending h2{
        color:#012169;
    }
    ul.vstepper li.declined h2, ul.vstepper li.last-declined h2{
        color:#e31837;
    }

</style>
</head>
<body>
    <ul class="vstepper">
        <li class="pending"><h2>Miles Davis (pending)</h2><p>Representative</p><p class="date">Sept 19 2019, 11:00am EST</p></li>
        <li class="locked"><h2>Ursula McDermott</h2><p>Manager</p><p class="date">Sept 20 2019, 3:00pm EST</p></li>
        <li class="locked"><h2>Sarah A Cousineau</h2><p>Level 4 Manager</p><p class="date">Sept 21 2019, 10:00am EST</p></li>
        <li class="last-locked"><h2>Casee Wegehoft</h2><p>Representative</p></li>
    </ul>
    <ul class="vstepper">
        <li class="approved"><h2>Miles Davis (approved)</h2><p>Representative</p><p class="date">Sept 19 2019, 11:00am EST</p></li>
        <li class="pending"><h2>Ursula McDermott (pending)</h2><p>Manager</p><p class="date">Sept 20 2019, 3:00pm EST</p></li>
        <li class="declined"><h2>Sarah A Cousineau (declined)</h2><p>Level 4 Manager</p><p class="date">Sept 21 2019, 10:00am EST</p></li>
        <li class="last-locked"><h2>Casee Wegehoft</h2><p>Representative</p></li>
    </ul>
    <ul class="vstepper">
        <li class="approved"><h2>Miles Davis (approved)</h2><p>Representative</p><p class="date">Sept 19 2019, 11:00am EST</p></li>
        <li class="last-pending"><h2>Casee Wegehoft (pending)</h2><p>Representative</p></li>
    </ul>
    <ul class="vstepper">
        <li class="approved"><h2>Miles Davis (approved)</h2><p>Representative</p><p class="date">Sept 19 2019, 11:00am EST</p></li>
         <li class="last-declined"><h2>Casee Wegehoft (declined)</h2><p>Representative</p></li>
    </ul>
    <ul class="vstepper">
        <li class="approved"><h2>Miles Davis (approved)</h2><p>Representative</p><p class="date">Sept 19 2019, 11:00am EST</p></li>
        <li class="last-approved"><h2>Casee Wegehoft (approved)</h2><p>Representative</p></li>
    </ul>
    </body>
</html>                            
</apex:page>