<apex:page readOnly="true" showheader="false" standardController="Nomination__c" extensions="TITLE_Mgt_Controller" standardStylesheets="false" tabStyle="Nomination__c" applyHtmlTag="false">
    
    <html lang="en">
        <head>
            <title> Title Reports Page </title>
            
            <meta http-equiv="X-UA-Compatible" content="IE=9;IE=EDGE;" />
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <apex:stylesheet value="{!$Resource.bootstrapminCSS}" />
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
            <!--script type="text/javascript" src="{!$resource.jquery1124min}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.1.0/jspdf.plugin.autotable.js"></script-->
<script type="text/javascript" src="{!$resource.FileSavermin}"></script>
<script type="text/javascript" src="{!$resource.jquery1124min}"></script>
<script type="text/javascript" src="{!$resource.Jspdfdebugjs}"></script>
<script type="text/javascript" src="{!$resource.JspdfAutotable}"></script>
<script type="text/javascript" src="{!$resource.jszipmin}"></script>
<script type="text/javascript" src="{!$resource.jszip}"></script>
<script>
    function normalizeDate(mydate){
    mydate = new Date(mydate );
    mydate = new Date(mydate - mydate.getTimezoneOffset() * 60000);
    return mydate;
}
var zip = new JSZip();
</script>
<script>
function mutliSelecttoggle(){
    console.log('showing')
    $("#mutliSelectul").toggle();
}

$('#reptypeselect').on('change', function() {
    $("#column").css('display', (this.value == 'PDF') ? 'block' : 'none');
    $("#column").hide();
    
});

</script>
<script>
//aad dddd

function mutliSelecttoggleCT(){
    console.log('showing')
    $("#mutliSelectulCT").toggle();
}
function formRegions(){
    
    var titleInfo = '';
    var statusInfo = '';
    console.log('formRegions==>');
    console.log($("[id$='mutliSelect'] input"));
    
    $("[id$='mutliSelectul'] li input").each(function( index ) {
        console.log($(this).is(':checked'));
        console.log($(this).val());
        if($(this).is(':checked')){
            if(statusInfo==''){
                statusInfo =$(this).val();
                
            }
            else{
                
                statusInfo +=','+$(this).val();
            }
        }
        
    });
    
    $("[id$='mutliSelectulCT'] li input").each(function( index ) {
        console.log($(this).is(':checked'));
        console.log($(this).val());
        if($(this).is(':checked')){
            if(titleInfo==''){
                titleInfo =$(this).val();
                
            }
            else{
                
                titleInfo +=','+$(this).val();
            }
        }
        
    });
    
    
    
    console.log('statusInfo===>');
    console.log(statusInfo);
    console.log('titleInfo===>');
    console.log(titleInfo);
    
    if(statusInfo!='')
        $('#statusInfoSelect').html(statusInfo);
    else
        $('#statusInfoSelect').html('--None--');
    
    if(titleInfo!='')
        $('#ctInfoSelect').html(titleInfo);
    else
        $('#ctInfoSelect').html('--None--');
    formRegionstoApex(titleInfo,statusInfo);
}
</script>
<style>
.container {width:1300px; background-color:#fff; border-left:0px solid #f3f3f3; border-right:0px solid #f3f3f3;padding-right:0px;padding-left:0px;}
.dropdown a {
color:#fff;
margin:0px;
padding:0px;
}
.dropdown dd, .dropdown dt {
margin:0px;
padding:0px;
}
.dropdown ul {
margin:0px;
padding:0px;
}
.dropdown dd {
position:relative;
margin:0px;
padding:0px;
}
.dropdown a, .dropdown a:visited {
color:black;
text-decoration:none;
outline:none;
margin:0px;
padding:0px;
/* min-height: 30px;
border-radius: 3px; */
border: 1px solid #919191;
}
.dropdown dt a {
/* background-color:#4F6877; */
height:26px;                  
display:block;
overflow: hidden;
width:100%;
margin:0px;
padding:0px;
margin-top:12px;                     
}
.dropdown dt a span, .multiSel span {
cursor:pointer;
display:inline-block;
/*margin:0px;
padding:5px 10px;*/
padding-left:20px;
padding-top:2px;

}
.dropdown dd ul {
/* background-color: #4F6877; */
/*   top:1px; */
color:black;
display:none;
position:absolute;
width:100%;
list-style:none;
height: 100px;
overflow: auto;
margin:0px;
padding:0px;
border: 1px solid #919191;
line-height:0.428571;                                        
}
.dropdown span.value {
display:none;
border-radius: 3px;
margin:0px;
padding:0px;
}
.dropdown dd ul li a {
display:block;
margin:0px;
padding:0px;
}
.dropdown dd ul li a:hover {
background-color:#fff;
margin:0px;
padding:0px;
}
.container {width:1300px; background-color:#fff; border-left:0px solid #f3f3f3; border-right:0px solid #f3f3f3;}
</style>
<script>
$(document).ready(function() {
    console.log('Nomination status');
    console.log('{!searchInput.Nomination_Status__c}');
    checkSelectedInfo('mutliSelectul','#statusInfoSelect','{!searchInput.Nomination_Status__c}');
    
    checkSelectedInfo('mutliSelectulCT','#ctInfoSelect','{!searchInput.Proposed_Title__c}');
    
});
function checkSelectedInfo(spanId,displayElement,selectedValues){
    var result ='--None--';
    if(selectedValues!=''){
        $(displayElement).html(selectedValues);
        var selectedList = selectedValues.split(',');
        $("[id$="+spanId+"] li input").each(function( index ) {
            console.log('::is checked::');
            console.log($(this).is(':checked'));
            console.log($(this).attr('id'));
            var selectedInfo = $(this).attr('id');
            console.log('selectedValues::'+selectedValues+'::selectedInfo::'+selectedInfo+'::spanId::'+spanId+'::displayElement::'+displayElement+'::is checked::'+(selectedValues.includes(selectedInfo)));
            if(selectedList.indexOf(selectedInfo)!=-1)
            {
                $(this).prop("checked",true);
                
                if(result=='--None--'){
                    result = selectedInfo;
                    
                }
                else{
                    result +=','+selectedInfo;
                    
                }
            }
            $(displayElement).html(result);
            /*else{
$(this).prop("checked",false);                        

}*/
    
});
}
}
</script>
</head>
<body>
<apex:form >
<div class="container">
<apex:actionfunction name="formRegionstoApex" action="{!assignSelectInputAction}" reRender="nothing">
<apex:param name="titleInfo" value="" assignto="{!selectedcts}"/>
<apex:param name="statusInfo" value="" assignto="{!selectedstatuses}"/>

</apex:actionfunction> 
<div style="color:#000;font-family:connections;font-weight:300;font-size:28px;font-style:normal;padding-top:15px;height:60px;"><apex:image id="Image1" value="{!$Resource.BofALogo}" style="float:right;" alt="Bank of America Logo"/>Corporate Title Promotions
</div>

<table width="1300px;">
<tr>
<td width="40%">
<h2 style="font-family:Connections; font-weight:400; font-style:normal;font-size:27px;color:#E31837;">Export Nominations </h2>
</td>
<td align="right" style="padding-top:25px;font-family:connections;font-size:15px;padding-right:20px;font-weight:400px;">
<apex:outputpanel id="btnPanel">
<apex:image value="{!$Resource.Management_icon}" style="width:21px; height:20px; margin-right:5px;margin-bottom:5px;" alt="Management Logo"/>

<apex:commandlink action="{!navToMgtPage}" style="font-size:14px;outline:none;" value="Management" > </apex:commandlink>


</apex:outputpanel>
</td>
</tr>
</table>   

<hr/> 

<div style="font-family:connections;font-size:13px;">


<apex:actionfunction name="resetfilter" action="{!resetfilters}" rerender="reptypeselect,dlobselect,dSubLOB,division,statusop,dRegions,ctop,dReview,columns" >

</apex:actionfunction>      

<table align="center" width="1300px;" >
<tr>
<th style="text-align:left;font-weight:100;">Report Type <b style="color:red;">*</b></th>
<th style="text-align:left;font-weight:100;">LOB <b style="color:red;">*</b></th>
<th style="text-align:left;font-weight:100;">Sub LOB</th>
<th style="text-align:left;font-weight:100;">Division</th>
<th style="text-align:left;font-weight:100;">Region</th>
<th style="text-align:left;font-weight:100;">Nomination Status</th>
<th style="text-align:left;font-weight:100;">Proposed Title</th>                
<th style="text-align:left;font-weight:100;">Flagged for HR Review</th>
</tr>
<tr>
<td style="padding-right:10px;">
<label style="font-weight:100;">
<apex:selectList value="{!ReportType}" multiselect="false" size="1" id="reptypeselect" style="width:120px;cursor:pointer;height:25px;">
<apex:selectOptions value="{!ReportTypes}" />
<apex:actionsupport event="onchange" action="{!assignSelectInputAction}" reRender="result,columns" />
</apex:selectList>
</label>
</td>
<td style="padding-right:10px;">
<label style="font-weight:100;">
<apex:selectList value="{!LOBDrDn}" multiselect="false" size="1" id="dlobselect" style="width:150px;cursor:pointer;height:25px;">
<apex:selectOptions value="{!ListLOBVal}" />
<apex:actionsupport event="onchange" action="{!assignSelectInputAction}" reRender="result,dSubLOB,columns" />
</apex:selectList>
</label>
</td>
<td style="padding-right:10px;">
<label style="font-weight:100;">
<apex:selectList value="{!SubLOBDrDn}" multiselect="false" size="1" id="dSubLOB" style="width:150px;cursor:pointer;height:25px;">
<apex:selectOptions value="{!ListSUBLOBVal}" />
<apex:actionsupport event="onchange" action="{!assignSelectInputAction}" reRender="result,division" />
</apex:selectList>
</label>
</td>
<td style="padding-right:10px;">
<label style="font-weight:100;"> 
<apex:selectList value="{!DivisionDrDn}" multiselect="false" size="1" id="division" style="width:150px;cursor:pointer;height:25px;">
<apex:selectOptions value="{!ListDivisionVal}" />
<apex:actionsupport event="onchange" action="{!assignSelectInputAction}" reRender="result"/>
</apex:selectList>
</label>
</td>
<td style="padding-right:10px;">
<label style="font-weight:100;">
<apex:selectList value="{!selectedregions}" multiselect="false" size="1" id="dRegions" style="width:150px;cursor:pointer;height:25px;">
<apex:selectOptions value="{!RegionsInfoSelectOption}" />
<apex:actionsupport event="onchange" action="{!assignSelectInputAction}" reRender="result" />
</apex:selectList>
</label>

</td>
<td style="padding-right:10px;">
<apex:outputPanel id="statusop">
<div style="width:190px;">
<dl class="dropdown">
<dt onclick="mutliSelecttoggle();">
<a >
<span class="hida" style="font-weight:100;" id="statusInfoSelect">--None--</span>    
<div class="multiSel" style="width:190px" ></div>
</a>
</dt>
<dd>
<div class="mutliSelect">
<ul style="height: auto;background-color:white;" id="mutliSelectul">
<apex:repeat value="{!statusList}" var="status">
<li>
<label for="{!status}" style="font-weight:100;">
<input id="{!status}" value="{!status}" onclick="formRegions();" type="checkbox" style="height:15px;width:22px;vertical-align:text-bottom;">{!statusList[status]}</input> </label>
</li>
</apex:repeat>
</ul>
</div>
</dd>
</dl>
</div> </apex:outputPanel>
</td>
<td style="font-weight:500;font-style:normal;font-size:13px;color:#000000;font-family:connections; padding-top:5px;padding-right:5px;" id="cptitleInput">
<apex:outputPanel id="ctop">
<div style="width:175px;padding-bottom:5px;">
<dl class="dropdown" >
<dt onclick="mutliSelecttoggleCT();">
<a >
<span class="hida"  id="ctInfoSelect" style="font-weight:100;">--None--</span>
<div class="multiSel" style="width:175px" ></div>

</a>
</dt>
<dd>
<div class="mutliSelect" >
<ul style="height: auto;background-color:white;" id="mutliSelectulCT">   
<apex:repeat value="{!corporateTitleList}" var="ctList">
<li>
<label for="{!ctList}" style="font-weight:100;">                 
<input id="{!ctList}" value="{!ctList}" type="checkbox" style="height:15px;width:22px;vertical-align:text-bottom;cursor:pointer;" onclick="formRegions();"/>{!corporateTitleList[ctList]}</label></li>
</apex:repeat>
</ul>
</div>
</dd>
</dl> 
</div>
</apex:outputPanel>
</td>

<td style="padding-right:10px;">
<label style="font-weight:100;">
<apex:selectList value="{!selectedHRReview}" multiselect="false" size="1" id="dReview" style="width:150px;cursor:pointer;height:25px;">
<apex:selectOptions value="{!HRReviewSelectOption}" />
<apex:actionsupport event="onchange" action="{!assignSelectInputAction}" reRender="result" />
</apex:selectList>
</label>

</td>
<td style="padding-right:10px;">

</td>
<td>


</td>
<apex:actionStatus id="actStatusId" >
<apex:facet name="start" >
<div >
<div style="position: fixed; top: 5%; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: black;"> &nbsp; </div>
<div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 30% 50%"> <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." /> </div>
</div>                </apex:facet>
</apex:actionStatus>



</tr>
</table>


</div>


<apex:actionRegion >
<apex:actionsupport event="onchange" reRender="pdfRend" />
</apex:actionRegion>  

<apex:outputPanel id="columns"  >
<div style="color:#E31837;font-size:14px;font-family:connections;text-align:center;padding-bottom:10px;margin-left:200px;display:{!IF(AND(isDownloadButtonClicked,OR(ReportType=='',LOBDrDn=='')),'','none')}">
Report Type and LOB are required.
</div>
<apex:outputPanel rendered="{!(ReportType=='PDF')}" id="pdfRend">  
<div style="font-family: connections;font-size: 13px;font-weight: 100;margin-left: 25px;margin-top: 5px; padding-bottom: 10px;" id="column">  Select columns you like to export </div>
<div style="width:1300px;display:flex;">
<div style="width:400px;margin-left: 55px;float:left;font-family: connections;line-height: 2;font-size:13px;"> 
<div style="margin-left:-10px;font-style:Italic;"> (Default) </div>
<apex:inputCheckbox value="{!FieldsToRender['Nomination ID']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Nomination ID <br/>
<apex:inputCheckbox value="{!FieldsToRender['Nominee Name']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Nominee Name<br/>
<apex:inputCheckbox value="{!FieldsToRender['Nomination Status']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Nomination Status<br/>
<apex:inputCheckbox value="{!FieldsToRender['LOB']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> LOB<br/>
<apex:inputCheckbox value="{!FieldsToRender['SUB LOB']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Sub LOB<br/>
<apex:inputCheckbox value="{!FieldsToRender['Division']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Division<br/>
<apex:inputCheckbox value="{!FieldsToRender['Work Country']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Work country<br/>                                                                                                                                                
<apex:inputCheckbox value="{!FieldsToRender['Job Title']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Job Title<br/>
<apex:inputCheckbox value="{!FieldsToRender['Time in Job Title']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Time in Job Title <br/>
<apex:inputCheckbox value="{!FieldsToRender['Current Corporate Title']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Current Corporate Title<br/>
<apex:inputCheckbox value="{!FieldsToRender['Time in Current Corporate Title']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Time in Current Corporate Title<br/>
<apex:inputCheckbox value="{!FieldsToRender['Worker Type']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Worker Type<br/>
<apex:inputCheckbox value="{!FieldsToRender['Band']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Band<br/>
<apex:inputCheckbox value="{!FieldsToRender['Nominated By']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Nominated By<br/>
</div>

<div style="width:500px;margin-left: 55px;font-family: connections;line-height: 2;font-size:13px;"> 
<div style="margin-left:-10px;font-style:Italic;"> (Default) </div>
<apex:inputCheckbox value="{!FieldsToRender['Nomination Date']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Nomination Date<br/>
<apex:inputCheckbox value="{!FieldsToRender['Eligibility Reasons']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Eligibility Reasons<br/>
<apex:inputCheckbox value="{!FieldsToRender['Most Recent YE Rating (What)']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Most Recent YE Rating (What)<br/>
<apex:inputCheckbox value="{!FieldsToRender['Most Recent YE Rating (How)']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Most Recent YE Rating (How)<br/>
<apex:inputCheckbox value="{!FieldsToRender['Rationale for Title Promotion']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Rationale for Title Promotion<br/>
<apex:inputCheckbox value="{!FieldsToRender['Accountability - 1']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Accountability - 1<br/>
<apex:inputCheckbox value="{!FieldsToRender['Accountability - 2']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Accountability - 2<br/>
<apex:inputCheckbox value="{!FieldsToRender['Accountability - 3']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Accountability - 3<br/>
<apex:inputCheckbox value="{!FieldsToRender['Accountability - 4']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Accountability - 4<br/>
<apex:inputCheckbox value="{!FieldsToRender['Increase or evolution of roles and responsibilities']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Increase or evolution of roles and responsibilities<br/>
<apex:inputCheckbox value="{!FieldsToRender['Demonstrated Leadership Behavior']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Demonstrated Leadership Behavior<br/>
<apex:inputCheckbox value="{!FieldsToRender['Contribution/Impact on the Business']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Contribution/Impact on the Business<br/>
<apex:inputCheckbox value="{!FieldsToRender['Demonstrated Performance/Results']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Demonstrated Performance/Results &amp; Accomplishments<br/>
</div>    
<div style="width:300px;float:right;font-family: connections;line-height: 2;font-size:13px;">
<div style="margin-left:-10px;font-style:Italic;"> (Optional) </div>
<apex:inputCheckbox value="{!FieldsToRender['Most Recent Hire Date']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Most Recent Hire Date<br/>
<apex:inputCheckbox value="{!FieldsToRender['Person Number']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Person Number<br/>
<apex:inputCheckbox value="{!FieldsToRender['Withdrawal Reason']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Withdrawal Reason<br/>
<apex:inputCheckbox value="{!FieldsToRender['Level 2 Manager']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Level 2 Manager<br/>
<apex:inputCheckbox value="{!FieldsToRender['Level 3 Manager']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Level 3 Manager<br/>
<apex:inputCheckbox value="{!FieldsToRender['Level 4 Manager']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Level 4 Manager<br/>
<apex:inputCheckbox value="{!FieldsToRender['Level 5 Manager']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Level 5 Manager<br/>
<apex:inputCheckbox value="{!FieldsToRender['Level 6 Manager']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Level 6 Manager<br/>
<apex:inputCheckbox value="{!FieldsToRender['Flagged for HR Review']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Flagged for HR Review<br/>
<apex:inputCheckbox value="{!FieldsToRender['Primary Work Geographic Region']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> Primary Work Geographic Region<br/>
<apex:inputCheckbox value="{!FieldsToRender['2017 YE Rating (What)']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> 2017 YE Rating (What)<br/>
<apex:inputCheckbox value="{!FieldsToRender['2017 YE Rating (How)']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> 2017 YE Rating (How)<br/>
<apex:inputCheckbox value="{!FieldsToRender['2016 YE Rating (What)']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> 2016 YE Rating (What)<br/>
<apex:inputCheckbox value="{!FieldsToRender['2016 YE Rating (How)']}" style="cursor:pointer;" onchange="reformJSON();"></apex:inputCheckbox> 2016 YE Rating (How)<br/>


</div> 

</div> 
<apex:actionFunction name="reformJSON" action="{!reformJSONAction}" reRender="nothing"/>
</apex:outputPanel>
</apex:outputPanel>

<div style="float:right;"> 
<div style="width:1300px;border:0.5px solid rgba(213, 213, 213, 1);margin-top:5px;"></div>
<div style="float:right;">

<apex:commandButton Value="Download" action="{!downalodReport}" styleClass="myDataButton"  status="actStatusId"  styleclass="btn btn-secondary" style="font-family: connections; font-weight: 400; background-color:#012169; color: white;  border: none;  border-width: 0px;  width: 120px;   height: 30px;  font-size:16px;cursor:pointer;padding:2px;margin-bottom:6px;border-radius:inherit; margin-top:20px;margin-right:20px;"/>

<apex:commandButton Value="Reset Filters" onclick="resetfilter();" styleClass="myDataButton" styleclass="btn btn-secondary" style="font-family: connections; font-weight: 400; background-color:#012169; color: white;  border: none;  border-width: 0px;  width: 120px;   height: 30px;  font-size:16px;cursor:pointer;padding:2px;margin-bottom:6px;border-radius:inherit; margin-top:20px;margin-right:30px;" reRender="nothing"/>

</div>
</div>


<apex:actionFunction name="genrate"  status="actStatusId" reRender="scriptPanel"  oncomplete="generatepdf();" />
<apex:actionFunction name="generatepdfInfo" reRender="scriptPanel" status="actStatusId" />

<apex:outputpanel id="scriptPanel">


</apex:outputpanel> 

<div style="height:90px;"></div>

</div>
<apex:actionFunction name="updateGeneratePDF" action="{!reset}" rerender="pdfZIPOP" />

<apex:outputPanel id="pdfZIPOP">

<apex:outputPanel rendered="{!isGenerate}">
    <apex:variable var="j" value="{!0}" />

    <apex:repeat value="{!AllNOmineesInfo}" var="empInfo">
        Size:: {!AllNOmineesInfo.size}::{!j}
        <div id="nominationdate{!j}" style="opacity: 0;"> <apex:outputtext value="{!empInfo.Nomination_Number__c}"/> </div>
        <div class="waitingSearchDiv" id="el_loading" style="background-color: #DCD6D6;height: 100%;opacity:0.65;width:100%;display:none">
            <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." /> <span class="waitingDescription">Processing...</span>
            </div>
        </div>
        <script>
        $(function() { 
            $('#el_loading').show();
            var pdf = new jsPDF('l', 'pt')
            , source = $('#pdfbody{!j}')[0]
            
            pdf.setFillColor(255,0,0);
            
            
            console.log('length Info:before'+{!j});
            var rows = [];
            var FieldsToRender = {!FieldsToRenderJson};
            var FieldsToLabel= {!FieldsToLabelJson};
            
            var allLabels = ['Nomination ID','Nominee Name','Nomination Status','LOB','SUB LOB','Division','Work Country','Job Title','Time in Job Title','Current Corporate Title','Time in Current Corporate Title','Worker Type','Band','Nominated By','Nomination Date','Eligibility Reasons','Most Recent YE Rating (What)','Most Recent YE Rating (How)','Rationale for Title Promotion','Accountability - 1','Accountability - 2','Accountability - 3','Accountability - 4','Increase or evolution of roles and responsibilities','Demonstrated Leadership Behavior','Contribution/Impact on the Business','Demonstrated Performance/Results','Most Recent Hire Date','Person Number','Withdrawal Reason','Level 2 Manager','Level 3 Manager','Level 4 Manager','Level 5 Manager','Level 6 Manager','Flagged for HR Review','Primary Work Geographic Region','2017 YE Rating (What)','2017 YE Rating (How)','2016 YE Rating (What)','2016 YE Rating (How)'];
            for(var i=0; i<allLabels.length; i++){
                var label=  allLabels[i];
                
                if(FieldsToRender[label]==true){
                    var fieldAPI = FieldsToLabel[label];
                    switch (fieldAPI) {                     
                        case "Division__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Division__c)}"});
                            break;                              
                        case "Primary_Work_Country__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Primary_Work_Country__c)}"});
                            break;                               
                            
                            
                        case "Nomination_Number__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Nomination_Number__c)}"});
                            break;                                                              
                        case "Nominee_FN__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Nominee_FN__c)}"});
                            break;
                        case "Nomination_Status__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Nomination_Status__c)}"});
                            break;
                        case "LOB__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.LOB__c)}"});
                            break;
                        case "SUB_LOB__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.SUB_LOB__c)}"});
                            break;
                        case "Job_Name__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Job_Name__c)}"});
                            break;
                        case "Time_in_Current_Job_Role__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Time_in_Current_Job_Role__c)}"});
                            break;
                        case "Corporate_Title__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Corporate_Title__c)}"});
                            break;
                        case "Time_in_Current_Corporate_Title__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Time_in_Current_Corporate_Title__c)}"});
                            break;
                        case "Worker_Type__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Worker_Type__c)}"});
                            break;
                        case "Band__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Band__c)}"});
                            break;
                        case "Created_By__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Created_By__c)}"});
                            break;
                        case "Created_Date__c":
                            console.log("#nominationdate");
                            var dateInput = "#nominationdate"+"{!j}";
                            console.log($(dateInput).text());
                            rows.push({"Coulmn":label,"Value":$(dateInput).text()});
                            break;
                        case "Eligibility_Reasons__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Eligibility_Reasons__c)}"});
                            break;
                        case "Most_Recent_YE_Rating_What__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Most_Recent_YE_Rating_What__c)}"});
                            break;
                        case "Most_Recent_YE_Rating_How__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Most_Recent_YE_Rating_How__c)}"});
                            break;
                        case "Rationale_for_Title_Promotion__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Rationale_for_Title_Promotion__c)}"});
                            break;
                        case "Accountability_1__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Accountability_1__c)}"});
                            break;
                        case "Accountability_2__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Accountability_2__c)}"});
                            break;
                        case "Accountability_3__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Accountability_3__c)}"});
                            break;
                        case "Accountability_4__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Accountability_4__c)}"});
                            break;
                        case "Roles_and_responsibilities__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Roles_and_responsibilities__c)}"});
                            break;
                        case "Leadership_Behavior__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Leadership_Behavior__c)}"});
                            break;
                        case "Contribution_Impact_on_the_Business__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Contribution_Impact_on_the_Business__c)}"});
                            break;
                        case "Performance_Results_Accomplishments__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Performance_Results_Accomplishments__c)}"});
                            break;
                        case "Hire_Date__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(LEFT(empInfo.Hire_Date__c, 10))}"});
                            break;
                        case "Person_Number__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Person_Number__c)}"});
                            break;
                        case "Reason_For_Withdrawal__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Reason_For_Withdrawal__c)}"});
                            break;
                        case "Manager_Level_2__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Manager_Level_2__c)}"});
                            break;
                        case "Manager_Level_3__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Manager_Level_3__c)}"});
                            break;
                        case "Manager_Level_4__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Manager_Level_4__c)}"});
                            break;
                        case "Manager_Level_5__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Manager_Level_5__c)}"});
                            break;
                        case "Manager_Level_6__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Manager_Level_6__c)}"});
                            break;
                        case "Flagged_for_HR_Review__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Flagged_for_HR_Review__c)}"});
                            break;
                        case "Primary_Work_Geographic_Region__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Primary_Work_Geographic_Region__c)}"});
                            break;
                        case "One_Year_Previous_YE_Rating_What__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.One_Year_Previous_YE_Rating_What__c)}"});
                            break;
                        case "One_Year_Previous_YE_Rating_How__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.One_Year_Previous_YE_Rating_How__c)}"});
                            break;
                        case "Two_Year_Previous_YE_Rating_What__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Two_Year_Previous_YE_Rating_What__c)}"});
                            break;
                        case "Two_Year_Previous_YE_Rating_How__c":
                            rows.push({"Coulmn":label,"Value":"{!JSENCODE(empInfo.Two_Year_Previous_YE_Rating_How__c)}"});
                            break;
                            
                            
                            
                    }                      
                    
                }
            }
            
            console.log('length Info:'+{!j});
            console.log('length Info:whole:'+{!AllNOmineesInfo.size});
            console.log(rows);
            var columns = [
                { title: "{!empInfo.Nominee_FN__c}" , dataKey: "Coulmn"},
                { title: "Proposed Title:  {!empInfo.Proposed_Title__c}", dataKey: "Value" }
            ];
            
            pdf.autoTable(columns, rows, {
                margin: {
                top: 20
                },
                styles: { overflow: linebreak },
               
                headerStyles: {
                fillColor: [01, 21, 69],
                fontSize: 10
                } 
            });
            
            zip.file("{!empInfo.Nominee_FN__c}"+" ("+"{!empInfo.Nomination_Number__c}"+").pdf", pdf.output('blob'));
        })
        </script>
        
        <apex:variable var="j" value="{!j+1}" />
    </apex:repeat>
    <script>
    $(function() {
    console.log(zip);
        zip.generateAsync({ type: "blob" })
        .then(function (content) {
            saveAs(content,'{!Folder_Name}.zip');
            updateGeneratePDF();
        });
    });
    </script>
    </apex:outputPanel>
    </apex:outputPanel>
    
    
</apex:form>
</body>
</html>
</apex:page>