<apex:page standardcontroller="Account"  readOnly="true"    recordsetvar="Accounts"  extensions="AccountsExt"> 
  <html xmlns:w="urn:schemas-microsoft-com:office:word">
    
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /> 
 
 <script type="text/javascript" src="{!$resource.filesavdeminjs}"></script>
         <script type="text/javascript" src="{!$resource.jquery1124min}"></script>
       <!-- <script type="text/javascript" src="{!$resource.jspdfdebug}"></script>
        <script type="text/javascript" src="{!$resource.jspdfautoTable}"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.1.0/jspdf.plugin.autotable.js"></script>
        <script type="text/javascript" src="{!$resource.jquery1124min}"></script>
        <script type="text/javascript" src="{!$resource.jszipmin}"></script>
        <script type="text/javascript" src="{!$resource.jszip}"></script>
             <script>
            var zip = new JSZip();
        </script>
<script>
var testfl =''

if (typeof jQuery !== "undefined" && typeof saveAs !== "undefined") {
    (function($) {
        $.fn.wordExport = function(fileName) {
            fileName = typeof fileName !== 'undefined' ? fileName : "jQuery-Word-Export";
            var static = {
                mhtml: {
                    top: "Mime-Version: 1.0\nContent-Base: " + location.href + "\nContent-Type: Multipart/related; boundary=\"NEXT.ITEM-BOUNDARY\";type=\"text/html\"\n\n--NEXT.ITEM-BOUNDARY\nContent-Type: text/html; charset=\"utf-8\"\nContent-Location: " + location.href + "\n\n<!DOCTYPE html>\n<html>\n_html_</html>",
                    head: "<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<style>\n_styles_\n</style>\n</head>\n",
                    body: "<body>_body_</body>"
                }
            };
            var options = {
                maxWidth: 624
            };
            // Clone selected element before manipulating it
            var markup = $(this).clone();
 
            // Remove hidden elements from the output
            markup.each(function() {
                var self = $(this);
                if (self.is(':hidden'))
                    self.remove();
            });

            // Embed all images using Data URLs
            var images = Array();
            var img = markup.find('img');
            for (var i = 0; i < img.length; i++) {
                // Calculate dimensions of output image
                var w = Math.min(img[i].width, options.maxWidth);
                var h = img[i].height * (w / img[i].width);
                // Create canvas for converting image to data URL
                var canvas = document.createElement("CANVAS");
                canvas.width = w;
                canvas.height = h;
                // Draw image to canvas
                var context = canvas.getContext('2d');
                context.drawImage(img[i], 0, 0, w, h);
                // Get data URL encoding of image
                var uri = canvas.toDataURL("image/png");
                $(img[i]).attr("src", img[i].src);
                img[i].width = w;
                img[i].height = h;
                // Save encoded image to array
                images[i] = {
                    type: uri.substring(uri.indexOf(":") + 1, uri.indexOf(";")),
                    encoding: uri.substring(uri.indexOf(";") + 1, uri.indexOf(",")),
                    location: $(img[i]).attr("src"),
                    data: uri.substring(uri.indexOf(",") + 1)
                };
            }

            // Prepare bottom of mhtml file with image data
            var mhtmlBottom = "\n";
            for (var i = 0; i < images.length; i++) {
                mhtmlBottom += "--NEXT.ITEM-BOUNDARY\n";
                mhtmlBottom += "Content-Location: " + images[i].location + "\n";
                mhtmlBottom += "Content-Type: " + images[i].type + "\n";
                mhtmlBottom += "Content-Transfer-Encoding: " + images[i].encoding + "\n\n";
                mhtmlBottom += images[i].data + "\n\n";
            }
            mhtmlBottom += "--NEXT.ITEM-BOUNDARY--";

            //TODO: load css from included stylesheet
  var styles = " @page Main { mso-header:h1;mso-footer:f1;}div.Main{ page:Main;}";
            // Aggregate parts of the file together
            var fileContent = static.mhtml.top.replace("_html_", static.mhtml.head.replace("_styles_", styles) + static.mhtml.body.replace("_body_", markup.html())) + mhtmlBottom;
             // Create a Blob with the file contents
            var blob = new Blob([fileContent], {
                type: "application/msword;charset=utf-8"
            });
                                zip.file(testfl+".doc",blob);

           // saveAs(blob, fileName + ".doc");
        };
    })(jQuery);
} else {
    if (typeof jQuery === "undefined") {
        console.error("jQuery Word Export: missing dependency (jQuery)");
    }
    if (typeof saveAs === "undefined") {
        console.error("jQuery Word Export: missing dependency (FileSaver.js)");
    }
}





        function exportwf(fielName,idval){
        console.log(fielName);
        console.log(idval);
        testfl = fielName;
        $("#"+idval).wordExport();
        }
</script>
     <header></header>
  <body>
  <div class="col-xs-5">
                <a class="btn jquery-word-export" href="javascript:void(0)" onclick="exportwf();">
                    <span class="word-icon">W</span>
                    Export as .doc
                </a>
            </div>
                       <apex:variable var="i" value="{!0}"/> 

   <apex:repeat value="{!accountsList}" var="empInfo">
     <div id="page-content{!i}">
                 <div class="Main"  >


            <div style="mso-element:header; width:100%;" id="h1" class="header">
                                <p class='MsoHeader'>
                                    <b>Name:</b> <apex:outputText value="{!empInfo.Name }"/> <b>LOB:</b> <apex:outputText value="CAO"/>
                                </p>
                            </div>
                            
    
            <table style="width:100%; padding:6px; margin-left:auto;margin-right:auto" font-size="500px" border="0" cellspacing="0" cellpadding="0">
                    <tr style="font-family: Calibri; font-size:16px">
                        <td><b><u>2016 Control Function Feedback</u></b></td> </tr>
            </table>
        esley has demonstrated a culture of transparency and engagement in her interactions with Audit (including periodic routines) and in other forums where Audit has been present. She asks the right and challenging questions when compliance related matters are discussed. Following UK regulatory feedback it is important that Lesley demonstrates the impact of the changes in the Compliance Risk Management program to the coverage model in the region and how specific legal entity requirements are met. There is a low but improving number of compliance-identified issues in her space but this is expected to grow as the monitoring and testing program becomes more effective. Audit results have been limited as focus is on the Compliance Consent Order remediation but there are no specific concerns noted.
{!empInfo.Contacts.SIZE}
        <apex:repeat value="{!empInfo.Contacts}" var="cffRec">
                 <table style="width:100%; margin-left:auto;margin-right:auto" font-size="500px" border="0" cellspacing="0" cellpadding="0">
                    <tr style="font-family: Calibri; font-size:16px">
                        <td><b><apex:outputText value="2016 Control Function Feedback"/> - <apex:outputText value="{!cffRec.Name}"/></b></td>
                    </tr>
                <tr style="padding-bottom:4px;font-family: Calibri; font-size:14px">
                    <td style="text-align:justify"><apex:outputText value="Lesley has demonstrated a culture of transparency and engagement in her interactions with Audit (including periodic routines) and in other forums where Audit has been present. She asks the right and challenging questions when compliance related matters are discussed. Following UK regulatory feedback it is important that Lesley demonstrates the impact of the changes in the Compliance Risk Management program to the coverage model in the region and how specific legal entity requirements are met. There is a low but improving number of compliance-identified issues in her space but this is expected to grow as the monitoring and testing program becomes more effective. Audit results have been limited as focus is on the Compliance Consent Order remediation but there are no specific concerns noted."/></td>
                </tr>
            </table>
         </apex:repeat>
          

<div style="page-break-after:always;">

         </div>
      </div>
      </div>
      <script>       
      exportwf("{!empInfo.Name}","page-content{!i}");
      
      </script>
              <apex:variable var="i" value="{!i+1}"/>            

      </apex:repeat>

   </body>
           <script>
        $(function() {
         zip.generateAsync({ type: "blob" })
        .then(function (content) {
        saveAs(content,"test.zip");
        });
        });
        </script>
    <style>
            
                          @page Section1{
                    size:8.5in 11.0in; 
                    margin:1in 1in 1in 1in;
                    mso-header-margin:0.5in;
                    mso-header:h1;
                    mso-footer:f1;
                    mos-footer-margin:05.in;
                    mso-paper-source:0;
                    }
                    
                div.Section1{
                    page:Section1;
                }
                
                table#hrdftrtbl{
                margin:0in 0in 0in 9in;
                } 
                
                                    } 
        </style>

  </html>
 </apex:page>