.THIS label{
    font-size:12px;
    font-family:connections;
    color: black;
    
}

.THIS {
   font-size:14px;
/*    background-color: white; */
    font-family:connections;
    color: black;
}

.THIS .slds-icon-action-user{
    background-color: darkgrey;
    height:27px;
    width:26px;
    padding:6px;
}
.THIS .hideLabel .slds-form-element__label{
    display:none !important;
}
.THIS .hideLabel .slds-form-element__static{
    display:inline !important;
}
.THIS .hideLabel {
    display:inline !important;
}
.THIS .hideLabel .slds-form-element__control{
    display:inline !important;
    padding-left: 3% !important;
}



.THIS .selectButtonStyle{
height: 40px;
    width: 155px;
    border-color: #012169;
    border-width: 1px;
    border-radius: 0px;
    box-sizing: border-box;
    border-style: solid;
    font-size: 16px;
    color: #012169;
    box-shadow: none;
    margin-top:11px;
}



.THIS .selectButtonStyle:hover{
height: 40px;
    width: 155px;
    border-color: #012169;
    border-width: 1px;
    border-radius: 0px;
    box-sizing: border-box;
    border-style: solid;
    font-size: 16px;
    color: white;
    background-color: #012169;
    margin-top:11px;
}